<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Bookmarked Profiles</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Profile ID</th>
          <th>Profile Info</th>
          <th>Account Type</th>
          <th>View Date</th>
          <th>Contact</th>
          <th class="last">Actions</th>
        </tr>
        <% @bookmarks.each do |bm| %>
        <tr>
          <td data-title="Profile ID"><span><%= bm.try(:jobseeker).try(:jprofile).try(:id) %></span></td>
          <td data-title="Profile Info">

            <div class="result blue">
              <a href="employer/talents?id=<%=bm.try(:jobseeker).try(:jprofile).id%>" target="_blank">
                <div class="w25">
                  <%= image_tag "layout/talent.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
                </div>
                <div class="w75">
                  <h2><%= bm.try(:jobseeker).try(:jprofile).try(:title) %></h2>
                  <h3><%= bm.try(:jobseeker).try(:jprofile).try(:name) %></h3>
                </div>
                <div class="details">
                  <em class="icon icon-location"></em>
                  <span>
                    <%= bm.try(:jobseeker).try(:jprofile).try(:address1) %>
                    <%= bm.try(:jobseeker).try(:jprofile).try(:address2) %>
                    <%= bm.try(:jobseeker).try(:jprofile).try(:city) %>
                    <%= bm.try(:jobseeker).try(:jprofile).try(:state_list).try(:name) %>
                  </span>
                  <em class="icon icon-review"></em><span><%=Review.where(to: bm.try(:jobseeker).user.id).count%> reviews</span>           
                  <em class="icon icon-clock"></em><span><%=distance_of_time_in_words(Time.now, bm.jobseeker.jprofile.updated_at.to_time) %></span>
                </div>
              </a>
            </div>

          </td>
          <td data-title="Account Type"><span>Premium</span></td>
          <td data-title="View Date"><span><%= bm.created_at.strftime("%m/%d/%Y") %></span></td>
          <td data-title="Action">
            <span><%= bm.try(:jobseeker).try(:jprofile).try(:phone) %></span><br>
            <span><%= bm.try(:jobseeker).try(:user).try(:email) %></span> 
          </td>
          <td class="last">
            <%= link_to bookmark_path(bm), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
           </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @bookmarks,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>
