<%=form_for @faq, :html => { :class => "skill", :method=>'post'} do |f| %>

  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
        <% @faq.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Category<em>*</em></label>
    <%= f.collection_select :faq_category_id,FaqCategory.all,:id,:name,:required=>true, class: 'selectpicker' %>
  </div>
  <div class="form-group">
    <label>Question<em>*</em></label>
    <%= f.text_area :question,:required=>true, :class => 'text_area_alignment' %>
  </div>
  <div class="form-group">
    <label>Answer<em>*</em></label>
    <%= f.text_area :answer,:required=>true,:class => 'text_area_alignment' %>
  </div>

  
  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),faqs_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>
