<%= form_for @talent_alert, :html => { :class => "talent_alert" } do |f| %>

  <% if @talent_alert.errors.any? %>

    <ul>
      <% @talent_alert.errors.full_messages.each do |message| %>
          <li style="color:red;"><%= message %></li>
      <% end %>
    </ul>

  <% end %>


  <div class="form-group">
    <label>What<em>*</em></label>
    <%= f.text_field :what,:required=>true, :maxlength=>150,:placeholder => 'Keywords, Job title' %>
  </div>
  <div class="form-group">
    <label>Where<em>*</em></label>
    <%= f.text_field :where,:required=>true, :maxlength=>150,:placeholder => 'City, State, Zip Code'  %>
  </div>
  <div class="form-group">
    <label>Within<em>*</em></label>
    <%= f.select :within, [['Any Where', 500], ['5 Miles', 5], ['10 Miles', 10], ['20 Miles', 20], ['30 Miles', 30], ['50 Miles', 50]], {}, {class: 'selectpicker'} %>
  </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),talent_alerts_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-orange' %>
  </div>

<%end%>