<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Talent Alert</h3>
      <h6><%= link_to "Add", new_talent_alert_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>What</th>
          <th>Where</th>
          <th>Within</th>
          <th class="last">Actions</th>
        </tr>
        <% @talent_alerts.each do |talent_alert| %>
        <tr>
          <td data-title="what"><span><%= talent_alert.what %></span></td>
          <td data-title="where"><span><%= talent_alert.where %></span></td>
          <td data-title="within"><span><%= talent_alert.within %></span></td>
          <td class="last">
            <%= link_to edit_talent_alert_path(talent_alert), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to talent_alert_path(talent_alert), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>


  </div>
</div>
