<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My Jobs</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
			 <th>Id</th>
          <th>Title</th>
          <th>Location</th>
          <th>Posted Date</th>
          <th>Resume Submitted</th>
          <th>Comments</th>

          <th class="last">Actions</th>
        </tr>
        <% @jobs.order('created_at DESC').each do |job| %>
        <tr>
			 <td data-title="Id"><a href="<%= job_path(job.id) %>" target="_blank"><%= job.id%></a></td>
          <td data-title="Title"><a href="<%= job_path(job.id) %>" target="_blank"><%= job.title%></a></td>
          <td data-title="Location"><span><%=job.try(:city)%>  <%=job.try(:state_list).try(:name)%>   <%=job.try(:zip)%></span></td>
          <td data-title="Posted Date"><span><%=job.created_at.strftime("%m/%d/%Y")%></span></td>
          <td data-title="Resume Submitted"><a href="/applications?id=<%=job.id%>"><%=job.try(:job_applications).try(:count)%></a></td>
          <td data-title="Comments"><span><%=job.try(:comments).try(:count) %></span></td>

          <td class="last">
            <%= link_to clone_job_path(job_id: job.id), title: "Clone Job" do %>Clone<% end %>&nbsp;&nbsp;
           </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @jobs,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>
