<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Summary</h3>
      <h6>Member Since <%= @employer.created_at.strftime("%m / %d / %Y")%></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge summary">
        <tr>
          <th>Recent Acitivity</th>
          <th class="last">Update from last visit</th>
        </tr>
        <tr>
          <td><span><%= @jobs.count %> Jobs Posted</span></td>
          <td class="last"><span><%= @jobapp_recent.count%> New Applications</span></td>
        </tr>
        <tr>
          <td><span><%= @jobapp.count %> Applications received</span></td>         
          <td class="last"><span><%= @visitors_recent %>  Job page visitors</span></td>
        </tr>
        <tr>
          <td><span><%= @visitors%> Job page visitors</span></td>
          <td class="last"><em class="icon icon-cap"></em><span><%= @subscribed %> New job seekers subscribed</span></td>       
        </tr>
        <tr>
          <td><em class="icon icon-tie"></em><span><%= @networks.count %> Employers in your network</span></td>
          <td class="last"><em class="icon icon-comment"></em><span><%= @comments_recent.count %> Job Comments</span></td>
        </tr>
        <tr>
          <td><em class="icon icon-review"></em><span><%= @reviews.count %> Reviews</span></td>
          <td class="last">&nbsp;</td>
        </tr>
        <tr>
          <td><em class="icon icon-comment"></em><span><%= @comments.count %> Job Comments</span></td>
          <td class="last">&nbsp;</td>
        </tr>
      </table> 

    </div>



  </div>
</div>