<div class="present blue">

  <input type="hidden" id="curpage" value="<%=params[:page]%>"/>
  <input type="hidden" id="total" value="<%=params[:total]%>"/>

  <section class="stratum">
    <div class="margin">
      <%= image_tag "layout/talent.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
      <h1><%= @jprofile.try(:name) %></h1>         
    </div>
  </section>

  <section>
	 <% if @jprofile != nil%>
    <div class="margin">

      <%# if params['what'] %>
        <div class="heading">
          <a href="#" class="back-link">back to search results</a>
          <div class="arrow-box">
            <a href="#" class="icon icon-arrow-circle-left prev_page"> </a>
            <a href="#" class="icon icon-arrow-circle-right nxt_page"> </a>
          </div>
        </div>
      <%#end%>


      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="blue active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><strong>Profile</strong></a></li>
         <% if current_user.try(:role).try(:authority)=='employer' %>
         <li role="presentation" class="blue"><a href="#employment" aria-controls="employment" role="tab" data-toggle="tab"><strong>Employment</strong></a></li>
         <li role="presentation" class="blue"><a href="#education" aria-controls="education" role="tab" data-toggle="tab"><strong>Education</strong></a></li>
         <li role="presentation" class="blue"><a href="#resume" aria-controls="resume" role="tab" data-toggle="tab"><strong>Resume</strong></a></li>
         <%end%>
        <li role="presentation" class="blue"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><strong>Reviews<strong></a></li>
      </ul>

      

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Profile -->
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="enclosure">

            <div class="w25">
              <ul class="list">
                <li><strong>Title:</strong><span></span><%= @jprofile.try(:title) %></span></li>
                <li><strong>Skills:</strong><span></span><%= @jprofile.skills.map { |s| s.name }.join(", ") %></li>
                <% if current_user.try(:role).try(:authority)=='employer' %>
                  <li><strong>Email:</strong><span></span><%= @jprofile.try(:jobseeker).try(:user).try(:email) %></li>
                  <li><strong>Phone:</strong><span></span><%= @jprofile.try(:phone) %></li>
                <% end %>
                <li><strong>Address:</strong><span><%= @jprofile.try(:city)%><%if @jprofile.try(:city).present?%>, <%end%><%= @jprofile.try(:state_list).try(:name) %><%if @jprofile.try(:state_list).try(:name).present? %>, <%end%><%= @jprofile.try(:country_list).try(:name) %><%if @jprofile.country_list.present? %>, <%end%><%= @jprofile.try(:zip) %></span></li>
                <!-- <li><strong>City:</strong><span><%= @jprofile.try(:city) %></span></li>
                <li><strong>State:</strong><span><%= @jprofile.try(:state_list).try(:name) %></span></li>
                <li><strong>Zip Code:</strong><span><%= @jprofile.try(:zip) %></span></li> -->
              </ul> 
            </div>

            <div class="w75">

              <article>
                <h2>Summary</h2>
                <div class="description">
                  <%= @jprofile.try(:summary) %>
                </div>
              </article>

              <div class="actions">

                <div class="pull-right">

                  <% if current_user.try(:role).try(:authority)=='employer' %>
                    <%= flash['message']%>
                    <%= link_to "Bookmark", employer_addtobookmark_path(:id=> @jprofile.id), :class => "btn btn-blue-ghost  bookmark_action" %>
                    <a href="#" onClick="setReviewData(<%= @jprofile.try(:jobseeker).try(:user).try(:id)%>, <%= current_user.try(:id)%>)" class="btn btn-blue-ghost" data-toggle="modal" data-target="#myModal">Write Review</a>
                    <a href="#" onClick="sendmessage(<%= @jprofile.try(:jobseeker).try(:user).try(:id)%>,'<%= @jprofile.try(:jobseeker).try(:user).try(:email)%>' )" class="btn btn-blue-ghost"   data-toggle="modal" data-target="#contactModal">contact</a>
                    <%= link_to "Add To Network", networks_path(:id => @jprofile.try(:jobseeker).try(:user).try(:id), :jprofile_id =>@jprofile.id), :method => 'post', :class => "btn btn-blue network_action" %>       
                    <!--<%= link_to "Hire", hire_path(:jprofile_id=> @jprofile.id), :method=>:post,  :class => "btn btn-blue hire_action" %>-->               
                  <%end %>
                               
                </div>

              </div>

            </div>

          </div>
        </div>

        <% if current_user.try(:role).try(:authority)=='employer' %>

        <!-- Employment -->
        <div role="tabpanel" class="tab-pane" id="employment">
          <div class="enclosure">

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge blue">
              <tr>
                <th>Title</th>
                <th>Organization</th>
                <th>From</th>
                <th class="last">To</th>
              </tr>
              <% @job_histories.each do |job_history| %>
              <tr>
                <td><strong><%= job_history.title %></strong></td>
                <td><%= job_history.organization %><em><% if job_history.currentcompany? %> (current company)<% end %></em></td>
                <td><%= job_history.from %></td>
                <td class="last"><%= job_history.to %></td>
              </tr>
              <%end%>
            </table>

          </div>
        </div>

        <!-- Education -->
        <div role="tabpanel" class="tab-pane" id="education">
          <div class="enclosure">

            <h2># Education</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge blue">
              <tr>
                <th>Degree</th>
                <th>Field</th>
                <th>Institution</th>
                <th>Location</th>
                <th class="last">Completion</th>
              </tr>
              <% @educations.each do |education| %>
              <tr>
                <td data-title="Degree"><strong><%= education.degree %></strong></td>
                <td data-title="Field"><%= education.field %></td>
                <td data-title="Institution"><%= education.institution %></td>
                <td data-title="Location"><%= education.location %></td>
                <td data-title="Completion" class="last"><%= education.completion %></td>
              </tr>
              <%end%>
            </table>

            <h2># Certification</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge blue">
              <tr>
                <th>Certification Name</th>
                <th>Institution</th>
                <th>Received</th>
                <th class="last">Expired</th>
              </tr>
              <% @certifications.each do |certification| %>
              <tr>
                <td data-title="Certification Name"><strong><%= certification.name %></strong></td>
                <td data-title="Institution"><%= certification.institution %></td>
                <td data-title="Received"><%= certification.received %></td>
                <td data-title="Expired" class="last"><%= certification.expired %></td>
              </tr>
              <%end%>
            </table>

            <h2># Papers/Journals</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge blue">
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th class="last">Reference</th>
              </tr>
              <% @journals.each do |journal| %>
              <tr>
                <td data-title="Name"><strong><%= journal.name %></strong></td>
                <td data-title="Date"><%= journal.date.strftime("%m / %d / %Y") %></td>
                <td data-title="Reference" class="last"><%= journal.reference %></td>
              </tr>
              <%end%>
            </table>

          </div>
        </div>

        <!-- Resume -->
        <div role="tabpanel" class="tab-pane" id="resume">
          <div class="enclosure">
            <div class="resume">
              <%if !@jprofile.resume_file_name.nil? %>
                  <%= link_to "View Resume", @jprofile.resume.url(:original, false), :target => '_blank', class: "btn btn-blue-ghost" %>
                  <%= link_to "Download Resume", jprofiles_download_resume_path(:id => @jprofile.id), :method => 'post', :target => '_blank', class: "btn btn-blue-ghost" %>
              <% else %>
                   No Resume Available for this profile
              <% end %>
            </div>
          </div>
        </div>

        <%end%>

        <!-- Reviews -->
        <div role="tabpanel" class="tab-pane" id="reviews">
          <div class="enclosure">

            <% @reviews.try(:each) do |review|%>
              <% if review.review_from_user_role == 'employer' %>

                <div class="reviews">
         
                  <div class="w25">
                    <%= image_tag "layout/employer.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
                    <h4 class="orange">        
                      <% if params[:by] !='me' %>         
                        <% if review.review_from_user_role == 'employer' %>
                          <%= review.review_from.company_name %>     
                        <% end %>
                      <% end %>
                    </h4>
                    <div class="time">
                      <em class="icon icon-clock"></em><span><%= review.created_at.strftime("%m / %d / %Y") %></span>
                    </div>
                    <div data-score="<%=review.score%>" class="stars">
                    </div>
                  </div>

                  <div class="w75">
                    <p>
                    <strong>Pros:</strong>
                    <%= review.try(:pros) %>
                    </p>
                    <p>
                    <strong>Cons:</strong>
                    <%= review.try(:cons) %>
                    </p>
                    <p>
                    <strong>Recommendations:</strong>
                    <%= review.try(:recommendations) %>
                    </p>
                    <div class="responses">
                      Responses: <a href="/review_responses?id=<%=review.id%>"><%= review.review_responses.count %></a>
                    </div>
                  </div>

                </div>

              <%end%>
            <%end%>

            <script>
                $('.stars').raty({readOnly: true,
                    score: function() {
                        return $(this).attr('data-score');
                    }
                });
            </script>
            

          </div>
          <% if params[:by]=='me' %>
          <div class="centered">
            <div class="paginations">
              <%= will_paginate @reviews, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
            </div>
          </div>     
          <% end %>      
        </div>



    </div>
    <%else%>	 

  		<h5 align="center"><%= "No results matched for your search!" %></h5>
    <%end%>
	 
  </section>


</div>

<%= render :partial => "contact" %>
<%= render :partial => "review_popover" %>



<script type="text/javascript">
    $(document).ready(function(){
        $(".top-sc a").click(function(){
            $('html, body').animate({ scrollTop: 0 },'slow');
        });
    });
</script>


<script>
    $(document).ready(function(){

        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

    });

</script>

<script type="">
    $(document).ready(function(){

        $('.show-link').on('click',function(event ){

            $(this).next().toggle(500);

        });


    });
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('.prev_page').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            console.log('prev page ');
            prev=parseInt($('#curpage').val())-1;
            if(prev<=0){
                prev=1;
                alert('No more profiles are available');
                return;
            }
            a=window.location.search;
            url=a.substring(0,a.indexOf('&page'));
            url=url+'&page='+prev;
            url='/search/profiles'+url;
            window.location=url;
        });
        $('.nxt_page').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            console.log('nxt page ');
            nxt=parseInt($('#curpage').val())+1;
            total=parseInt($('#total').val());
            if(nxt>total){
                nxt=total;
                alert('No more profiles are available');
                return;
            }

            a=window.location.search;
            url=a.substring(0,a.indexOf('&page'));
            url=url+'&page='+nxt;
            console.log('next ** url *** :'+url);
            url='/search/profiles'+url;
            window.location=url;
        });

        $('.back-link').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            //?id=1&what=&where=&distance=50&offset=1&page=1
            a = window.location.search;
            url=a.substring(a.indexOf('what'),a.indexOf('&offset'));
            url='/search/profiles?'+url
            window.location=url;
        });

    });

    a = window.location.search;
    url=a.substring(a.indexOf('what'),a.length);
    // Hire
    $('.hire_action').attr('href',$('.hire_action').attr('href')+'&'+url)
    $('.bookmark_action').attr('href',$('.bookmark_action').attr('href')+'&'+url);
    $('.network_action').attr('href',$('.network_action').attr('href')+'&'+url);



</script>
