<%= form_for @eprofile, :html => { :multipart => true , :class => "jprofile", :role =>"form" } do |f| %>

  <% if @eprofile.errors.any? %>
      <ul>
      <% @eprofile.errors.full_messages.each_with_index do |message, index| %>
        <% if index%2 != 0%>
          <li style="color: red;"><%= message %></li>
        <%end %>
      <% end %>
      </ul>
  <% end %>

  <div class="w50">

    <div class="form-group">
      <label for = "comp">Company Name<em>*</em></label>
       <%= f.text_field :company_name ,:class => "form-control",:required=>true,:maxlength=>200%>
    </div>

    <div class="form-group">
      <label for = "industry">Industry</label>
      <%= f.collection_select :industry_id, Industry.all, :id, :name, {}, {class: 'selectpicker'}  %>
    </div>

    <div class="form-group">
      <label for = "services">Services</label>
      <%= f.text_field :services,:class => "form-control",:maxlength=>10000%>
    </div>

    <div class="form-group">
      <label for = "products">Products</label>
      <%= f.text_field :products,:class => "form-control",:maxlength=>10000 %>
    </div>

    <div class="form-group">
      <label for = "address">Address1<em>*</em></label>
      <%= f.text_field :address1,:class => "form-control",:required=>true,:maxlength=>1000 %>
    </div>

    <div class="form-group">
      <label for = "address">Address2</label>
      <%= f.text_field :address2,:class => "form-control",:maxlength=>1000 %>
    </div>

    <div class="form-group">
      <label for = "country">Country</label>
      <%= f.collection_select :country_list_id, CountryList.all, :id, :name ,{:prompt => 'Select Country'}, {class: 'selectpicker'} %>
    </div>

    <div class="form-group">
      <label for = "state">State</label>
      <input type="hidden" name="state_list_id" id="state_list_id" value="<%= @eprofile.state_list_id%>">
      <select id="eprofile_state_list_id" name="eprofile[state_list_id]" class="state_list"></select>
    </div>

    <div class="form-group">
      <label for = "city">City</label>
      <%= f.text_field :city,:class => "form-control",:maxlength=>100%>
    </div>

    <div class="form-group">
      <label for = "phone">Phone</label>
      <%= f.text_field :phone,:class => "form-control",:pattern=>"([\+]?[1]{1})?(?:[\(][0-9]{3}[\)]|[0-9]{3})[\-]?[0-9]{3}[\-]?[0-9]{4}",:title=>'Phone Number Format:Any 10 digit numbers, 123-456-7890 ,(123)456-7890,+11234567890' %>
    </div>

    <div class="form-group">
      <label for = "fax">Fax</label>
      <%= f.text_field :fax,:class => "form-control" ,:pattern=>"([\+]?[1]{1})?(?:[\(][0-9]{3}[\)]|[0-9]{3})[\-]?[0-9]{3}[\-]?[0-9]{4}",:title=>'Fax should be in format like Any 10 digit numbers, 123-456-7890 ,(123)456-7890,+11234567890'%>
    </div>

  </div>

  <div class="w50">

    <div class="form-group">
      <label for = "overview">Overview</label>
      <%= f.text_area :overview,:class => "form-control" ,:maxlength=>20000 %>
      <small>Maximum 20000 characters are allowed</small>
    </div>

    <div class="form-group">
      <label for = "logo">Logo</label>
      <%= f.file_field :logo,:class => "form-control" %>
    </div>

    <div class="form-group">
      <label for = "website">Website</label>
      <%= f.text_field :website,:class => "form-control", :pattern => "((https?\:\/\/|www\.)(?:[-a-z0-9]+\.)*[-a-z0-9]+.*)", :title => "Format Should be anything that starts with http:// 'or' https:// 'or' www.",:maxlength=>256%>
    </div>

    <div class="form-group">
      <label for = "facebook">Facebook</label>
       <%= f.text_field :fb_url,:class => "form-control",:pattern => "^(https?:\/\/)?((w{3}\.)?)facebook.com\/.*",:title =>"Format Should be anything that starts with http(s)://www.facebook.com/",:maxlength=>1000%>
    </div>

    <div class="form-group">
      <label for = "twitter">Twitter</label>
      <%= f.text_field :twitter_url,:class => "form-control", :pattern => "^(https?:\/\/)?((w{3}\.)?)twitter\.com\/(#!\/)?[a-z0-9_]+$" ,:title =>"Format Should be anything that starts with http(s)://www.twitter.com/",:maxlength=>1000%>
    </div>

    <div class="form-group">
      <label for = "comp">Google Plus</label>
      <%= f.text_field :gplus_url,:class => "form-control" ,:pattern=> "^(https?:\/\/)?((w{3}\.)?)plus\.google\.com\/(#!\/)?[a-z0-9_]+$",:title => "Format Should be anything that starts with http(s)://www.plus.google.com/",:maxlength=>1000%>
    </div>

    <div class="form-group">
      <label for = "comp">Linkedin</label>
      <%= f.text_field :linkedin_url,:class => "form-control", :pattern =>"^(https?:\/\/)?((w{3}\.)?)linkedin\.com\/(#!\/)?[a-z0-9_]+$", :title => "Format Should be anything that starts with http(s)://www.linkedin.com/",:maxlength=>1000%>
    </div>

    <div class="form-group">
      <label>Public viewing</label>
      <div class="iradio">
        <input type="radio" name="eprofile[publicviewing]" value="true" <%= "checked" if @eprofile.publicviewing %> ><label>Enabled</label>
        <input type="radio" name="eprofile[publicviewing]" value="false" <%= "checked" if not @eprofile.publicviewing %> ><label>Disabled</label>
      </div>
    </div>

    <div class="form-group">
      <label>Profile status</label>
      <div class="iradio">
        <input type="radio" name="eprofile[active]" value="true"  <%= "checked" if @eprofile.active %> ><label>Enabled</label>
        <input type="radio" name="eprofile[active]" value="false"  <%= "checked" if not @eprofile.active %> ><label>Disabled</label>
      </div>
    </div>

    <div class="actions">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),eprofile_path, :class => 'btn btn-ghost' %>
      <%= link_to "DELETE PROFILE", eprofile_path(@eprofile), method: "delete", :class => 'btn btn-orange-ghost' %>
      <%= f.submit "Save" ,:class => "btn btn-orange" %>
    </div>

  </div>

  
<% end %>

<script>

    $(document).ready(function(){
        var selectedCountry = $("#eprofile_country_list_id option:selected").val();

        if(selectedCountry != ''){

            jQuery.ajax({

                url:'/country_lists/country_list_update?countryid='+selectedCountry,
                type:'POST',
                success:function(resp){
                    $(".state_list").html(resp);
                    $('#eprofile_state_list_id').val($('#state_list_id').val());
                }
            });
        }

        $('#eprofile_country_list_id').change(function(){
            var selectedCountry = $("#eprofile_country_list_id option:selected").val();
            jQuery.ajax({

                url:'/country_lists/country_list_update?countryid='+selectedCountry,
                type:'POST',
                success:function(resp){
                    $(".state_list").html(resp);
                }
            });
        });
    });


</script>
