<ul class="list" id="info_window">
  <li><strong>Company Name:</strong><span></span><%= @eprofile.try(:company_name) %></li>
  <li><strong>Overview:</strong><span></span><%= @eprofile.overview %></li>
  <li><strong>Industry:</strong><span></span><%= @eprofile.try(:industry).try(:name) %></li>
  <li><strong>Services:</strong><span></span><%= @eprofile.services %></li>
  <li><strong>Products:</strong><span></span><%= @eprofile.products %></li>
  <li>
    <strong>Location:</strong>
    <span>
      <%= @eprofile.address1 %><%if @eprofile.address1.present? %>, <%end%><%= @eprofile.address2 %><%if @eprofile.address2.present? %>, <%end%><%= @eprofile.try(:city) %><%if @eprofile.city.present? %>, <%end%><%= @eprofile.try(:state_list).try(:name) %><%if @eprofile.country_list.present? %>, <%end%><%= @eprofile.try(:country_list).try(:name) %>
    </span>
  </li>
  <li><strong>Phone:</strong><span><%= @eprofile.phone %></span></li>
  <li><strong>Fax:</strong><span><%= @eprofile.fax %></span></li>
  <li><strong>Email:</strong><a href="mailto:<%= @eprofile.email %>" target="_blank"><span><%= @eprofile.email %></span><em class="icon icon-link"></em></a></li>
  <li><strong>Website:</strong><a href="<%=@eprofile.website%>" target="_blank"><span><%= @eprofile.website %></span><em class="icon icon-link"></em></a></li>
  <li>
    <strong>Social Networks:</strong>
    <a href="<%= @eprofile.fb_url %>" target="_blank" class="icon icon-facebook"></a>
    <a href="<%= @eprofile.twitter_url %>" target="_blank" class="icon icon-twitter"></a>
    <a href="<%= @eprofile.gplus_url %>" target="_blank" class="icon icon-google"></a>
    <a href="<%= @eprofile.linkedin_url %>" target="_blank" class="icon icon-linkedin"></a>
  </li>



</ul> 

