<article>
  <h3>Explore Results</h3>

  <div class="form-group">
    <label>Sort by</label>
    <select onChange="sortJobs(this.value)" class="selectpicker">
        <option value="relevance" <%= 'selected' if params[:sort]=='score'  %>>Relevance</option>
        <option value="created_at" <%= 'selected' if params[:sort]=='created_at'  %>>Posted Date</option>
    </select>
  </div>

  <form action="/search/jobs">

    <input name="what" type="hidden" value="<%= params[:what]%>"/>
    <input name="where" type="hidden" value="<%= params[:where]%>"/>
    <input name="keywords" type="hidden" value="<%= params[:keywords]%>"/>
    <input name="title" type="hidden" value="<%= params[:title]%>"/>
    <input name="location" type="hidden" value="<%= params[:location]%>"/>
    <input name="salary_type" type="hidden" value="<%= params[:salary_type]%>"/>
    <input name="salary" type="hidden" value="<%= params[:salary]%>"/>

    <div class="form-group">
      <label>Distance in Miles</label>
      <select class="selectpicker" name="distance">
        <option value=500>Select</option>
        <% if params[:where].present? %>
        <% @res.facet(:distance_facet).try(:rows).try(:each) do |facet| %>
        <option value="<%=facet.value %>"
          <%if params[:distance]==facet.value %>
          selected
          <%end%>>
          <%= facet.value%>
          <%= 'Mile'.pluralize(facet.value)%>
          (<%=facet.count%>)
        </option>
        <%end%>
        <% end%>
      </select>
    </div>

    <div class="form-group">
      <label>Company</label>
      <select class="selectpicker" name="company">
        <option value=''>Select</option>
        <%if @res != nil %>
            <% @res.facet(:companyname).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:company]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
        <%end%>
      </select>
    </div>

    <div class="form-group">
      <label>Job type</label>
      <select class="selectpicker" name="job_type">
        <option value=''>Select</option>
        <%if @res != nil %>

            <% @res.facet(:job_type).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:category]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
            <!-- <option value='' selected="<%= params[:category]==''%>">Select</option> -->
       <%end%>
      </select>
    </div>

    <div class="form-group">
      <label>Industry</label>
      <select class="selectpicker" name="industry">
        <option value=''>Select</option>
        <%if @res != nil %>
            <% @res.facet(:industry).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:industry]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
        <%end%>
      </select>
    </div>

    <div class="form-group">
      <label>State</label>
      <select class="selectpicker" name="state">
        <option value=''>Select</option>
        <%if @res != nil %>
            <% @res.facet(:state).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:state]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
        <%end%>
      </select>
    </div>

    <div class="form-group">
      <label>City</label>
      <select class="selectpicker" name="city">
        <option value=''>Select</option>
        <%if @res != nil %>
            <% @res.facet(:city).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:city]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
        <%end%>
      </select>
    </div>

    <div class="form-group">
      <label>Age of Job</label>
      <select class="selectpicker" name="postingdate">
        <option value=''>Select</option>
        <%if @res != nil %>
            <% @res.facet(:job_age).rows.each do |facet| %>
            <option value="<%=facet.value %>"
                                <%if params[:postingdate]==facet.value %>
                                selected
                                <%end%>>
              <%= facet.value%>
              (<%=facet.count%>)
            </option>
            <%end%>
        <%end%>
      </select>
    </div>

    <input type="submit" name="" class="btn btn-orange" value="Search" />

  </form>
</article>
