<input type="hidden" name="total" id="total" value="<%= @res.try(:total)%>">

<% if @res != nil && @res.results.length>0 %>

  <% @res.try(:results).try(:each_with_index) do |rest,ind| %>

    <article class="result orange">
      <a href="<%= job_path(rest.id) %>" data-index="<%= ((params['page'].to_i-1)*PER_PAGE_COUNT) +(ind+1) %>">
        <div class="w25">
          <%= image_tag "layout/employer.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
        </div>
        <div class="w75">
          <h2><%= rest.title %></h2>
          <h3><%= rest.employer.try(:eprofile).try(:company_name) %></h3>
          
          <div class="details">
            <div class="pull-left">
              <em class="icon icon-location"></em><span><%=  rest.addr %></span>
              <em class="icon icon-review"></em><span><%=Review.where(to: rest.try(:employer).user.id).count%> reviews</span>    

            </div>
            <div class="pull-right">             
              <em class="icon icon-comment"></em><span><%= Comment.where(job_id: rest.id).count%> comments</span>     
              <em class="icon icon-clock"></em><span><%=distance_of_time_in_words(Time.now, rest.created_at.to_time) %></span>
            </div>
          </div>

        </div>
      </a>
    </article>

  <% end %>

<% elsif !params['what'] && !params['keywords']%>

<% else %>
<h6><%= "No results matched for your search!" %></h6>
<% end %>

<div class="centered">
  <div class="paginations orange">
    <% if @res != nil %>
      <%= will_paginate @res.hits,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
    <%end%>
  </div>
</div>



<script>
  jQuery('.result').each(function(){
      a=window.location.search
      p=a.indexOf('page')
      b=window.location.search
      if(p!=-1)
      {
        p1=a.indexOf('&',p)
        b=a.substring(0,p)+a.substring(p1+1,a.length)
      }
      $(this).attr('href',$(this).attr('href')+b+'&offset=1&page='+$(this).attr('data-index')+'&total='+$('#total').val());
  });
</script>
