<div class="search orange">

  <%= render 'layouts/search_bar3' %>

  <section>
    <div class="margin">

      <div class="results">
        <% if @res != nil && @res.results.length > 0 %>
            <%=@res.results.length+@res.results.offset%> <small>of</small> <%= @res.try(:total) %>
            <%= params[:keywords]!=nil ?  params[:keywords]: params[:what]  %> <small>Profiles</small>
            <%= 'in ' if params[:location].present? || params[:where].present? %>
            <%= params[:location]!=nil ?  params[:location]: params[:where]  %>
        <%else %>
          0 <small>Profile</small>
        <% end %>
      </div>

      <aside class="w25">
        <%= render 'profile_results_left_bar' %>

        <article>
          <h3>Save Last Search</h3>
          <form id="save_filer_form">
            <div class="form-group">
              <input id="filter_name" name="filter_name" type="text" placeholder="Search Name" required="true" value=""/>
              <input id="search_criteria" name="search_string" type="hidden" value="">
            </div>
            <input type="submit" value="Save" class="btn btn-orange"  />
          </form>
        </article>

        <article>
          <h3>Search Criteria</h3>
          <% @saved_searched_filer.each do |filter|%>  
          <div class="criteria-bx">
              <a href="/search/jobs<%=filter.criteria%>"><%= filter.name %></a>
              <a href="javascript:deleteSearchFilter(<%= filter.id%>)" class="icon icon-cross"></a> 
          </div>
          <%end%>
        </article>
 
        
      </aside>

      <div class="search-results w75">
        <%=render 'profile_results'%>
      </div>

    </div>
  </section>

</div>



<script type="text/javascript">

    $(document).ready(function(){

        console.log(window.location.search);
        var searchString = window.location.search;

        $('#search_criteria').val(searchString);


        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                latitude = position.coords.latitude;
                longitude = position.coords.longitude;

                console.log('latitude   :'+latitude+'      longitude:'+longitude);

                $.ajax({

                    url: '/search/search_local_talents?latitude='+latitude+'&longitude='+longitude,
                    type: 'GET',
                    success: function(data){
                        $('#local_talents').html(data);
                    }

                });
            }, function() {
                alert('We couldn\'t find your position.');
            });
        } else {
            alert('Your browser doesn\'t support geolocation.');
        }


// save search filter
        $('#save_filer_form').submit(function(event) {

            if(searchString == ''){
                alert('Please search first');
                return false;
            }

            $.ajax({
                type        : 'GET',
                url         : '/search/save_search_criteria',
                data        :  $("#save_filer_form").serialize()
            })
                    .done(function(data) {
                        $('#filter_name').val('');
                        $('#saved_filer').html(data);
                    });
            event.preventDefault();
        });


    });


    function deleteSearchFilter(search_filter_id){

        $.ajax({

            url: '/search/delete_search_criteria?filter_id='+search_filter_id,
            type: 'POST',
            success: function(data){
                $('#saved_filer').html(data);
            }

        });
    }

</script>