<div class="session">

  <div class="wrapper midst">
    <h1>Sign in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <input type="hidden" name="t" value="<%= params[:t]%>" />

      <div class="form-group">
        <label>Email<em>*</em></label>
        <%= f.email_field :email, autofocus: true,presence: true,required:true, :class => 'email_field', :placeholder => "Enter your email address" %>
      </div>
      <div class="form-group">
        <label>Password<em>*</em></label>
        <%= f.password_field :password, autocomplete: "off",required:true, :placeholder => "Enter your password" %>
      </div>

      <%= f.submit "Login", class: "btn btn-blue" %>

      <div class="centered">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        <% end -%>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Don't have an account yet? Register", new_registration_path(resource_name) %>
        <% end -%>
      </div>

      <%- flash.each do |name, msg| -%>
        <% if  msg != 'employer' &&  msg != 'candidate' %>
        <center><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></center>
        <% end %>
      <%- end -%>

    <% end %>
  </div>


</div>