<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My Network</h3>
      <%= flash['message']%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        
		  <%if current_user.role.authority == 'jobseeker' %>
		  	<tr>
          <!-- <th></th> -->
          <!-- <th>ID</th> -->
			    <th>Company Name</th>
          <th>Industry</th>
          <th>Address</th>
			    <th class="last">Actions</th> 
        </tr>
		  <%else%>
		  	<tr>
          <!-- <th></th> -->
          <!-- <th>ID</th> -->
			    <th>Name</th>
          <th>Title</th>
          <th>Skills</th>
			   <th class="last">Actions</th>		 
        </tr>
		  <%end%>
		  
        <% @networks.each do |network| %>
          <tr>
            <!-- <td data-title="id"><%#= network.id %></td> -->
            <% if network.user.role.authority == 'jobseeker' %>
            	<%jp = Jprofile.find_by_jobseeker_id(Jobseeker.find_by_user_id(network.user.id)) %>
            	<td data-title="Name" ><a href="/employer/talents?id=<%=jp.id%>" class="blue">
            <% else %>
            	<%ep = Eprofile.find_by_employer_id(Employer.find_by_user_id(network.user.id)) %>
               <td data-title="Name" ><a href="/jobs/job_eprofile?id=<%=ep.id%>" class="orange">
            <% end %>
				
            <% if current_user.role.authority == 'jobseeker' %>
					<%= ep.try(:company_name) %></td>
				<% else %>
					<%= jp.try(:name) %></td>
				<% end %>
				
				<% if current_user.role.authority == 'jobseeker' %>
					<!-- <td data-title="CompanyName"><%= ep.try(:company_name) %></td> -->
            	<td data-title="Industry"><%= ep.try(:industry).try(:name) %></td>
            	<td data-title="Address" class="last"><%= ep.try(:city) %><%if ep.city.present? %>, <% end %><%= ep.try(:state_list).try(:name) %><%if ep.country_list.present? %>, <% end %><%= ep.try(:country_list).try(:name) %></td>
              <td class="last">
                <%= link_to "#", class: "icon icon-trash", title: "Delete" do %><% end %>
              </td>
          	<% else %>
					<!-- <td data-title="Name"><%= jp.try(:name) %></td> -->
            	<td data-title="Title"><%= jp.try(:title) %></td>
            	<td data-title="Email"><%= jp.skills.map { |s| s.name }.join(", ")  %></td>
              <td class="last">
                <%= link_to "#", class: "icon icon-trash", title: "Delete" do %><% end %>
              </td>
				<% end %>
			 </tr>
        <% end %>
      </table> 
    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @networks, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div> 

  </div>
</div>