<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My Network</h3>
      <%= flash['message']%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <!-- <th></th> -->
          <th>Name</th>
          <th class="last">Email</th>
        </tr>
        <% @networks.each do |network| %>
          <tr>
            <!-- <td data-title="id"><%#= network.id %></td> -->
             <% if network.user.role.authority == 'jobseeker' %>
            <%jp = Jprofile.find_by_jobseeker_id(Jobseeker.find_by_user_id(network.user.id)) %>
            <td data-title="Name" ><a href="/employer/talents?id=<%=jp.id%>" class="blue">
            <% else %>
               <%ep = Eprofile.find_by_employer_id(Employer.find_by_user_id(network.user.id)) %>
                <td data-title="Name" ><a href="/jobs/job_eprofile?id=<%=ep.id%>" class="orange">
                <%end%>
            <%= network.try(:user).try(:name) %></td>
            <td data-title="Email" class="last"><%= network.try(:user).try(:email) %></td>
          </tr>
        <% end %>
      </table> 
    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @networks, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div> 

  </div>
</div>