<div class="container-fluid search-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 no_pad ">
            <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <h3> SRAMIC Sitemap</h3>
                    <h5>We have many jobs available on SRAMIC</h5>
                    <h5>Our lists below allow you to search the entire database of jobs that we currently have available at SRAMIC - the India's leading recruitment site.</h5><br/>
                  </div>
                  <div class="col-md-2"></div>
            </div>

            <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-2">
                          <h4> Jobseeker Services</h4>
                            <a href="/home/index"><div><h5>Jobseeker Home Page</h5></div></a>
                            <a href="<%= activities_path %>"><div><h5>Account Summary</h5></div></a>
                            <a href="<%=educations_path%>"><div><h5>Education</h5></div></a>
                            <a href="<%=job_applications_path%>"><div><h5>Applied Jobs</h5></div></a>
                            <a href="<%=carts_path%>"><div><h5>My job cart</h5></div></a>
                            <a href="<%=watch_lists_path%>"><div><h5>My Job Watchlists</h5></div></a>
                            <a href="<%=portfolios_path%>"><div><h5>Portfolios</h5></div></a>
                            <a href="<%=job_alerts_path%>"><div><h5>Job Alert</h5></div></a>
                            <a href="<%= skills_path %>"><div><h5>Skills</h5></div></a>
                            <a href="<%=networks_path%>"><div><h5>My Network</h5></div></a>
                            <a href="<%=reviews_path%>"><div><h5>Reviews</h5></div></a>
                            <a href="<%=message_list_jobseeker_path%>"><div><h5>Notifications</h5></div></a>
                            <a href="#"><div><h5>Terms and Conditions</h5></div></a><br/>

                          <h4>Search jobs</h4>
                            <a href="/search/jobs"><div><h5>Search Jobs</h5></div></a><br/>

                         <h4>My SRAMIC</h4>
                            <a href="/employer_registration"><div><h5>Employer Registration to SRAMIC</h5></div></a>
                            <a href="/users/sign_up"><div><h5>Jobseeker Registration to SRAMIC</h5></div></a>
                            <a href="<%=new_news_letter_path%>"><div><h5>Subscribe for Newsletter</h5></div></a><br/>

                         <h4>Help</h4>
                            <a href="<%=faqs_path%>"><div><h5>FAQs</h5></div></a>
                            <a href="<%= new_enquiry_path %>"><div><h5>Enquires</h5></div></a><br/>
                  </div>

                  <div class="col-md-2"></div>
                  <div class="col-md-3">
                      <h4> Employer Services</h4>
                          <a href="/home/index"><div><h5>SRAMIC Employer homepage</h5></div></a>
                          <a href="<%= employer_summary_path %>"><div><h5>Account Summary</h5></div></a>
                          <a href="<%= my_jobs_path %>"><div><h5>My Jobs</h5></div></a>
                          <a href="<%= bookmarks_path %>"><div><h5>Bookmarks</h5></div></a>
                          <!--<a href="<%= profile_hires_path %>"><div><h5>Hired Profiles</h5></div></a>-->
                          <a href="<%=reviews_path%>"><div><h5>Reviews</h5></div></a>
                          <a href="<%=talent_alerts_path%>"><div><h5>Talent Alert</h5></div></a>
                          <a href="<%=networks_path%>"><div><h5>My Network</h5></div></a>
                          <a href="<%= new_enquiry_path %>"><div><h5>Contact us</h5></div></a>
                          <a href="#"><div><h5>Terms and conditions</h5></div></a><br/>

                      <h4>Post Jobs</h4>
                          <a href="<%=new_job_path%>"><div><h5>Advertise your Job</h5></div></a>
                  </div>
            </div>
      </div>
    </div>
  </div>
</div>
