<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My WatchList Jobs</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Job</th>
          <th>Company</th>
          <th class="last">Actions</th>
        </tr>
        <% @watch_lists.each do |watch_list| %>
        <tr>
          <td data-title="Job"><a href="<%= job_path(watch_list.job.id) %>" target="_blank" class="orange" ><%= watch_list.try(:job).try(:title) %></td>
          <td data-title="Company"><span><%= watch_list.try(:job).try(:employer).try(:eprofile).try(:company_name) %></span></td>
          <td class="last">
            <%= link_to watch_list_path(watch_list),:method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @WatchList, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>

