<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <% if !@page.nil? %>
        <h3><%=@page.name %>  Page</h3>
        <% if @page.name == 'Home Banner' %>
          <h6>
            Note: Please upload image (width: 1366 pixel, height: 499 pixel) for best fit
          </h6>
        <% end %>
        <%= form_for @page do |form| %>
          <div class="form-group">
            <%= form.cktext_area :content ,:cols => 20%><br>
            <input type="hidden" name="p" value="<%= params[:p] %>" />
          </div>
          <div class="actions">            
            <%= link_to "Cancel", :back, {:class=>"btn btn-ghost"} %>
            <%= form.submit :class => 'btn btn-blue' %>
          </div>
          <% end %>
      <%end%>
    </div>

  </div>
</div>