<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Portfolio</h3>
      <h6><%= link_to "Add", new_portfolio_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Name</th>
          <th>Url</th>
          <th>Logo</th>
          <th class="last">Actions</th>
        </tr>
        <% @portfolios.each do |portfolio| %>
        <tr>
          <td data-title="Name"><span><%= portfolio.name %></span></td>
          <td data-title="Url"><span><%= portfolio.url %></span></td>
          <% if portfolio.logo? %>
            <td data-title="Logo"><%= image_tag portfolio.logo.url(:medium) %>
          <% else %>
            <td data-title="Url"><%=  %></td>
          <% end %>

          <td class="last">
            <%= link_to edit_portfolio_path(portfolio), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to portfolio_path(portfolio), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>


  </div>
</div>

