<%= form_for @job, :html => {:multipart => true, :class => "education"} do |f| %>

  <% if @job.errors.any? %>
    <% pluralize(@job.errors.count, "error") %>
    <ul>
      <% @job.errors.full_messages.each do |message| %>
          <li style="color:red"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="w50">

    <div class="form-group">
      <label>Job Title<em>*</em></label>
      <%= f.text_field :title, :required => true, :maxlength => 200 %>
    </div>
    <div class="form-group">
      <label>Country<em>*</em></label>
      <%= f.collection_select :country_list_id, CountryList.all, :id, :name, {:prompt => 'Select Country'}, :required => true, class: 'selectpicker' %>
    </div>
    <div class="form-group">
      <label>State<em>*</em></label>
      <input type="hidden" name="state_list_id" id="state_list_id" value="<%= @job.state_list_id %>">
      <select required="required" id="job_state_list_id" name="job[state_list_id]" class="state_list"></select>
    </div>
    <div class="form-group">
      <label>City<em>*</em></label>
      <%= f.text_field :city, :required => true, :maxlength => 100 %>
    </div>
    <div class="form-group">
      <label>Zip Code<em>*</em></label>
      <%= f.text_field :zip, :required => true, :pattern => "[0-9]{5}$", :title => 'Zip code Should be in digits and 5 digits' %>
    </div>

  </div>

  <div class="w50">

    <div class="form-group">
      <label>Industry<em>*</em></label>
      <%= f.collection_select :industry_id, Industry.all, :id, :name, {}, {class: 'selectpicker'} %>
    </div>

    <div class="form-group">
      <label>Job Description<em>*</em></label>
      <%= f.cktext_area :description,:class => 'text_area_alignment'%>
      <small>Maximum 20000 characters are allowed</small>
    </div>

  </div>

  <div class="w100">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">

        <div class="panel-heading" role="tab">
        <%= link_to "#optional", class: "collapsed", :"role" => 'button', :"data-toggle" => 'collapse', :"data-parent" => '#accordion', :"aria-expanded" => 'false', :"aria-controls" => "optional" do %>
            <span>Optional fields</span>
            <em class="icon icon-arrow-down"></em>
            <em class="icon icon-arrow-up"></em>
          <% end %>
        </div>
        <div id="optional" class="panel-collapse collapse" role="tabpanel">

          <div class="w50">

            <div class="form-group">
              <label>Experience</label>
              <%= f.text_field :experience, :pattern => "[0-9]{1,2}(?:[\.]{1}[0-9]{1,2})?", :title => 'Experience should be in xx.xx format',:maxlength=>5 %>
            </div>

            <div class="form-group">
              <label>Education</label>
              <%= f.text_field :education, :maxlength => 200 %>
            </div>

            <div class="form-group">
              <label>Relocation</label>
              <%= f.select :relocation, [["Yes", 'true'], ["No", 'false']], {}, {class: 'selectpicker'}  %>
            </div>

            <div class="form-group">
              <label>Salary Type</label>
              <%= f.collection_select :salary_type_id, SalaryType.all, :id, :s_type, {}, {class: 'selectpicker'} %>
            </div>

            <div class="form-group">
              <label>Salary</label>
              <%= f.text_field :salary,:pattern => "[$][0-9]{1,20}(?:[\.]{1}[0-9]{1,3})?",:title => "Salary should be preceded by '$',max 20 digits before decimal, optional decimal, decimal max 3 digits",:maxlength=>25%>
            </div>

          </div>

          <div class="w50 last">

            <div class="form-group">
              <label>Job Type</label>
              <%= f.collection_select :job_type_id, JobType.all, :id, :name, {}, {class: 'selectpicker'} %>
            </div>

            <div class="form-group">
              <label>Certification</label>
              <%= f.text_field :certification, :maxlength => 200 %>
            </div>

            <div class="form-group">
              <label>Reference</label>
              <%= f.text_field :references, :maxlength => 200 %>
            </div>

            <div class="form-group">
              <label>Status</label>
              <%= f.select :status, [["Open", 'true'], ["Close", 'false']], {}, {class: 'selectpicker'} %>
            </div>

            <div class="form-group">
              <label>Clearance</label>
              <%= f.text_field :clearance, :maxlength => 200 %>
            </div>

          </div>

        </div>

      </div>


    </div>
  </div>


  <div class="w100">

    <div class="actions">
      <% if current_user.try(:role).try(:authority) == 'employer' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),my_jobs_path, :class => 'btn btn-ghost', :id => 'can' %>
      <% elsif current_user.try(:role).try(:authority) == 'admin' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),jobs_path, :class => 'btn btn-ghost', :id => 'can' %>
      <% end %>
      <%= f.submit "Create", :class => "btn btn-orange", :onclick => "return add_desc_to_plain_desc();" %>
    </div>

  </div>

<%end%>


<script>


    function add_desc_to_plain_desc(){


//$('#job_plain_description').get(0).setCustomValidity('desc');
        console.log(CKEDITOR.instances.job_description.document.getBody().getText().length);
        if(CKEDITOR.instances.job_description.document.getBody().getText().length > 0 && CKEDITOR.instances.job_description.document.getBody().getText().length <= 20000){
            var plain_desc = CKEDITOR.instances.job_description.document.getBody().getText();
            $('#job_plain_description').val(plain_desc);
            return true;
        }
        alert('Please enter description and max 20000 character');
        return false;


    }

    $(document).ready(function () {
        var selectedCountry = $("#job_country_list_id option:selected").val();

        if (selectedCountry != '') {

            jQuery.ajax({

                url: '/country_lists/country_list_update?countryid=' + selectedCountry,
                type: 'POST',
                success: function (resp) {
                    $(".state_list").html(resp);
                    $('#job_state_list_id').val($('#state_list_id').val());
                }
            });
        }
        $('#job_country_list_id').change(function () {
            var selectedCountry = $("#job_country_list_id option:selected").val();

            jQuery.ajax({

                url: '/country_lists/country_list_update?countryid=' + selectedCountry,
                type: 'POST',
                success: function (resp) {
                    $(".state_list").html(resp);
                }
            });
        });

    });


</script>
