<div class="present orange">

  <section class="stratum">
    <div class="margin">
      <%= image_tag "layout/employer.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
      <h1><%= @eprofile.try(:company_name) %></h1>         
    </div>
  </section>

  <section>
    <div class="margin">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="orange active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><strong>Profile</strong></a></li>
        <li role="presentation" class="orange"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><strong>Reviews<strong></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          
          <div class="enclosure">

            <div class="profile">

              <div class="w75">
                <ul class="list">
						<li><strong>Overview:</strong><span></span><%= @eprofile.overview %></li>
						<li><strong>Industry:</strong><span></span><%= @eprofile.try(:industry).try(:name) %></li>
                  <li><strong>Services:</strong><span></span><%= @eprofile.services %></li>
                  <li><strong>Products:</strong><span></span><%= @eprofile.products %></li>
                  <li><strong>Location:</strong><span></span><%= @eprofile.address1 %><%if @eprofile.address1.present? %>, <%end%><%= @eprofile.address2 %><%if @eprofile.address2.present? %>, <%end%><%= @eprofile.try(:city) %><%if @eprofile.city.present? %>, <%end%><%= @eprofile.try(:state_list).try(:name) %><%if @eprofile.country_list.present? %>, <%end%><%= @eprofile.try(:country_list).try(:name) %></li>
                  <% if current_user.try(:role).try(:authority)=='employer' ||  current_user.try(:role).try(:authority)=='jobseeker' ||  current_user.try(:role).try(:authority)=='jobseeker'%>
                  <li><strong>Phone:</strong><span></span><%= @eprofile.phone %></li>
                  <% end%>
						<% if current_user.try(:role).try(:authority)=='employer' ||  current_user.try(:role).try(:authority)=='jobseeker' ||  current_user.try(:role).try(:authority)=='jobseeker'%>
                  <li><strong>Fax:</strong><span></span><%= @eprofile.fax %></li>
						<%end%>
                  <% if current_user.try(:role).try(:authority)=='employer' ||  current_user.try(:role).try(:authority)=='jobseeker' ||  current_user.try(:role).try(:authority)=='jobseeker'%>
                    <li><strong>Email:</strong><a href="mailto:<%= @eprofile.email %>"><span><%= @eprofile.email %></span><em class="icon icon-link"></em></a></li>
                  <% end%>
                  <li><strong>Website:</strong><a href="<%=@eprofile.website%>" target="_blank"><span><%= @eprofile.website %></span><em class="icon icon-link"></em></a></li>
                </ul> 
              </div>

              <div class="w25">
                <div class="include">
                  <% if current_user%>
                    <%if current_user.try(:id) !=  @eprofile.try(:employer).try(:user).try(:id)%>
                      <%= flash['message']%>
                      <%= link_to "Add To Network", networks_path(:id => @eprofile.try(:employer).try(:user).try(:id), :eprofile_id =>@eprofile.id), :method => 'post', :class => "btn btn-orange-ghost" %>
                      <a href="#" onClick="setReviewData(<%= @eprofile.try(:employer).try(:user).try(:id)%>, <%= current_user.try(:id)%>)" class="btn btn-orange-ghost" data-toggle="modal" data-target="#myModal">Write Review</a>
                    <%end%>
                  <%end%>
                </div>
                <ul class="social">
                  <li><a href="<%= @eprofile.fb_url %>" target="_blank" class="icon icon-facebook"></a></li>
                  <li><a href="<%= @eprofile.twitter_url %>" target="_blank" class="icon icon-twitter"></a></li>
                  <li><a href="<%= @eprofile.gplus_url %>" target="_blank" class="icon icon-google"></a></li>
                  <li><a href="<%= @eprofile.linkedin_url %>" target="_blank" class="icon icon-linkedin"></a></li>
                </ul>
              </div>

            </div>

          </div>


        </div>

        <div role="tabpanel" class="tab-pane" id="reviews">

          <div class="enclosure">

            <% @reviews.try(:each) do |review|%>
              <% if review.review_from_user_role == 'jobseeker' %>

                <div class="reviews">
         
                  <div class="w25">
                    <%= image_tag "layout/talent.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
                    <h4 class="blue">        
                      <% if params[:by] !='me' %>         
                        <% if review.review_from_user_role == 'jobseeker' %>
                          <%= review.review_from.name %>       
                        <% end %>
                      <% end %>
                    </h4>
                    <div class="time">
                      <em class="icon icon-clock"></em><span><%= review.created_at.strftime("%m / %d / %Y") %></span>
                    </div>
                    <div data-score="<%=review.score%>" class="stars">
                    </div>
                  </div>

                  <div class="w75">
                    <p>
                    <strong>Pros:</strong>
                    <%= review.try(:pros) %>
                    </p>
                    <p>
                    <strong>Cons:</strong>
                    <%= review.try(:cons) %>
                    </p>
                    <p>
                    <strong>Recommendations:</strong>
                    <%= review.try(:recommendations) %>
                    </p>
                    <div class="responses">
                      Responses: <a href="/review_responses?id=<%=review.id%>" class=""><%= review.review_responses.count %></a>
                    </div>
                  </div>

                </div>

              <%end%>
            <%end%>

          <script>
              $('.stars').raty({readOnly: true,
                  score: function() {
                      return $(this).attr('data-score');
                  }
              });
          </script>
            

          </div>

          <% if params[:by]=='me' %>
          <div class="centered">
            <div class="paginations">
              <%= will_paginate @reviews, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
            </div>
          </div>     
          <% end %>

        </div>

      </div>


    </div>
  </section>




</div>

<%= render :partial => 'review_popover' %>





<script type="text/javascript">
    $(document).ready(function(){
        $(".top-sc a").click(function(){
            $('html, body').animate({ scrollTop: 0 },'slow');
        });
    });
</script>


<script>
    $(document).ready(function(){

        $('ul.tabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

    });

</script>

<script type="">
    $(document).ready(function(){

        $('.show-link').on('click',function(event ){

            $(this).next().toggle(500);

        });


    });
</script>



