<!--<meta property="og:image" content="thumbnail_image" />-->
<input type="hidden" id="curpage" value="<%=params[:page]%>"/>
<input type="hidden" id="total" value="<%=params[:total]%>"/>

<div class="present orange">

  <section class="stratum">
    <div class="margin">
      <h1><%= @job.title %></h1>
      <em class="icon icon-clock"></em><% t = @job.created_at %><span><%= t.strftime("%m / %d / %Y") %></span>              
    </div>
  </section>

  <section>
    <div class="margin">

      <% if params['what'] %>
        <div class="heading">
          <a href="#" class="back-link">back to search results</a>
          <div class="arrow-box">
            <a href="/search/jobs/" class="icon icon-arrow-circle-left prev_page"> </a>
            <a href="/search/jobs/" class="icon icon-arrow-circle-right nxt_page"> </a>
          </div>
        </div>
      <%end%>


      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="orange active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><strong>Details</strong></a></li>
        <li role="presentation" class="orange"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab"><strong><%= @job.try(:comments).try(:count) %> Comments<strong></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="details">
          
          <div class="enclosure">

            <div class="w25">
              <ul class="list">
                <li><strong>Job ID:</strong><span><%= @job.id %></span></li>
                <li><strong>Location:</strong><span><%= @job.try(:city) %> <%= @job.try(:state_list).try(:name) %>  <%= @job.try(:country_list).try(:name) %></span></li>
                <li>
                  <strong>Company:</strong>
                  <%= link_to jobs_job_eprofile_path(:id => @job.employer.eprofile), :method => 'get' do %>
                    <span><%= @eprofile.try(:company_name) %></span>
                    <em class="icon icon-link"></em>
                  <% end %>
                </li>
                <li><strong>Industry:</strong><span><%= @job.try(:industry).try(:name) %></span></li>
                <li><strong>Category:</strong><span><%= @job.try(:category).try(:name) %></span></li>
                <li><strong>Experience:</strong><span><%= @job.try(:experience) %></span></li>
                <li><strong>Education:</strong><span><%= @job.try(:education) %></span></li>
                <li><strong>Salary:</strong><span><%= @job.try(:salary) %></span></li>
                <li><strong>Salary Type:</strong><span><%= @job.try(:salary_type).try(:s_type) %></span></li>
                <li><strong>Relocation:</strong><span><%= @job.try(:relocation) ? 'yes' : 'no' %></span></li>
                <li><strong>Certification:</strong><span><%= @job.try(:certification) %></span></li>
                <li><strong>Clearance:</strong><span><%= @job.try(:clearance) %></span></li>
                <li><strong>Reference:</strong><span><%= @job.try(:references) %></span></li>
              </ul>      
            </div>

            <div class="w75">

              <article>
                <h2>Description</h2>
                <div class="description">
                  <%= raw(@job.description) %> 
                </div>
              </article>
              
              <div class="actions">

                <div class="pull-left">
                  <em>share:</em>
                  <a data-method="post" href="http://www.linkedin.com/shareArticle?url=<%= root_url+"jobs/"+@job.try(:id).to_s+"&"+"title="+@job.try(:title).to_s+"&"+"summary="+@job.try(:plain_description).to_s %>" class="icon icon-share-linkedin" target="_blank"></a>
                </div>

                <div class="pull-right">
                  <a href="#" onclick="window.print();" class="icon icon-print"></a>
                  <a data-method="post" href=<%= jobs_add_to_watchlist_path(:id => @job) %> class="icon icon-save"></a>
                    <%= link_to "Add to WatchList", jobs_add_to_watchlist_path(:id => @job), :method => 'post', :class => "btn btn-orange-ghost add_watchlist_Action" %>
                    <% if current_user.try(:role).try(:authority)=='jobseeker' %>
                      <%= link_to "Add to Cart", jobs_addtocart_path(:id => @job), :method => 'post', :class => "btn btn-orange-ghost add_cart_action" %>
                    <% end %>
                    <%= link_to "Apply", jobs_apply_job_path(:id => @job), :method => 'post', :class => "btn btn-orange apply_action" %>                
                </div>

              </div>

            </div>

          </div>

          <div class="similar">
            <h3>Similar Jobs</h3>

            <% @similarjobs.try(:each) do |f| %>
              <article class="result orange">
                <a href="<%= job_path(f.id) %>">
                  <div class="w25">
                    <%= image_tag "layout/employer.png", title: "", alt: "", size: "94x94", class: "img-circle"  %>
                  </div>
                  <div class="w75">
                    <h2><%= f.title %></h2>
                    <h3><%= f.employer.try(:eprofile).try(:company_name) %></h3>
                    
                    <div class="details">
                      <div class="pull-left">
                        <em class="icon icon-location"></em><span><%=  f.addr %></span>
                        <em class="icon icon-review"></em><span><%=Review.where(to: f.try(:employer).user.id).count%> reviews</span>    

                      </div>
                      <div class="pull-right">             
                        <em class="icon icon-comment"></em><span><%= Comment.where(job_id: f.id).count%> comments</span>     
                        <em class="icon icon-clock"></em><span><%=distance_of_time_in_words(Time.now, f.created_at.to_time) %></span>
                      </div>
                    </div>

                  </div>
                </a>
              </article>
            <%end%>

            <div class="centered">
              <% if @similarjobs.count > 4 %>
                <a data-method="get" href="/search/jobs?what=<%= @keywords %>&where=<%= @place %>&distance=50" class="btn btn-orange-ghost">View All</a>
              <% end %>
            </div>
           
          </div>


        </div>
        <div role="tabpanel" class="tab-pane" id="comments">

          <div class="enclosure">
            <% @job.try(:comments).limit(10).order('created_at desc').try(:each) do |comment| %>

              <div class="comment">
                <div class="w25">
                  <%= image_tag comment.commented_user_profile.logo.url(:thumb), title: "", alt: "", size: "94x94", class: "img-circle" %>
                  <%if comment.user.role.authority=='jobseeker'%>
                    <h4 class="blue"><%= link_to "#{comment.user.name}", employer_talents_path(:id => comment.commented_user_profile), :method => 'get' %></h4>
                  <%else%>
                    <h4 class="orange"><%= link_to "#{comment.user.name}", jobs_job_eprofile_path(:id => comment.commented_user_profile), :method => 'get' %></h4>
                  <%end%>
                  <div class="time">
                    <em class="icon icon-clock"></em><span><%= comment.try(:created_at).strftime("%m / %d / %Y") %></span>
                  </div>
                </div>
                <div class="w75">
                  <%= comment.comment %>
                </div>
              </div>

            <% end %>
            
          </div>

          <div class="comment-area">
            <form name="comment_form" id="comment_form" action="/comments" method="post">
              <h6>Comment</h6>
              <textarea class="form-control" required="true" id="comment" name="comment"></textarea>
              <input type="hidden" id="job_id" name="job_id" value="<%= @job.id %>"/>
              <input type="hidden" id="user_id" name="user_id" value="<%= current_user.try(:id) %>"/>
              <button type="submit" class="btn btn-orange">Submit</button>
            </form>
          </div>


        </div>
      </div>

  

    </div>
  </section>



</div>



















<script type="text/javascript">
    $(document).ready(function () {
        $(".top-sc a").click(function () {
            $('html, body').animate({scrollTop: 0}, 'slow');
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.prev_page').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            console.log('prev page ');
            prev=parseInt($('#curpage').val())-1;
            if(prev<=0) {
                prev = 1;
                alert('No more jobs are available');
                return;

            }
            a=window.location.search;
            url=a.substring(0,a.indexOf('&page'));
            url=url+'&page='+prev;
            url='/search/jobs'+url
           window.location=url;
        });
        $('.nxt_page').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            console.log('nxt page ');
            nxt=parseInt($('#curpage').val())+1;
            total=parseInt($('#total').val());
            if(nxt>total){
                nxt=total;
                alert('No more jobs are available');
                return;
            }

            a=window.location.search;
            url=a.substring(0,a.indexOf('&page'));
            url=url+'&page='+nxt;
            url='/search/jobs'+url
            window.location=url;
        });

        $('.back-link').click(function(event){
            event.stopPropagation();
            event.preventDefault();
            a = window.location.search;
            url=a.substring(0,a.indexOf('&offset'));
            url='/search/jobs'+url
            //console.log('back-link called **'+url);
            window.location=url;
        });


        a = window.location.search;
        url=a.substring(a.indexOf('what'),a.length);
        // Hire
        $('.apply_action').attr('href',$('.apply_action').attr('href')+'&'+url)
        $('.add_cart_action').attr('href',$('.add_cart_action').attr('href')+'&'+url);
        $('.add_watchlist_Action').attr('href',$('.add_watchlist_Action').attr('href')+'&'+url);

        // for comment form, for paginations fix
        $('#comment_form').attr('action', $('#comment_form').attr('action')+'?'+url );


        $(function () {

            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

            $('a[data-modal-id]').click(function (e) {
                e.preventDefault();
                $("body").append(appendthis);
                $(".modal-overlay").fadeTo(500, 0.7);
                //$(".js-modalbox").fadeIn(500);
                var modalBox = $(this).attr('data-modal-id');
                $('#' + modalBox).fadeIn($(this).data());
            });


            $(".js-modal-close, .modal-overlay").click(function () {
                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                    $(".modal-overlay").remove();
                });

            });

            $(window).resize(function () {
                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });

            $(window).resize();

        });
    });


</script>
