<div class="container-fluid search-container">
  <div class="container">


    <%if !current_user.nil? && current_user.try(:role).try(:authority) == 'employer'%>
            <div class="row">
              <div class="col-lg-12 no_pad ">
                <div class="company_users ">


                  <div class = "container">
                    <h3> Employer Detail</h3>
                    <div class = "panel panel-default">
                      <div class = "panel-heading">
                        <h3 class = "panel-title">My Employer Detail</h3>
                      </div>

                      <div class = "panel-body">
                        <div class = "col-xs-10">
                          <p>
                            <strong>Employer Name:</strong>&nbsp;&nbsp;<%= current_user.name %>
                          </p>
                          <p>
                            <strong>Employer ID:</strong>&nbsp;&nbsp;<%= @employer.id%>
                          </p>
                        </div>


                      </div>

                    </div>

                  </div>
                </div>
              </div>

            </div>
    <%end %>



    <div class="row">
      <div class="col-lg-12 no_pad ">
        <div class="company_users ">

            <div class = "container">
              <h3> Job API's</h3>
              <div class = "panel panel-default">
                <div class = "panel-heading">
                  <h3 class = "panel-title">Get all jobs by an Employer</h3>
                </div>

                <div class = "panel-body">
                  <div class = "col-xs-10">
                    <p>
                      <strong>Format:</strong>&nbsp;&nbsp;http://<%= request.host%>:<%= request.port%>/job_api/get_all_jobs.json?employer=:employer_id
                    </p>
                    <p>
                      <strong>Example:</strong>&nbsp;&nbsp;http://localhost:3000/job_api/get_all_jobs.json?employer=2
                    </p>
                  </div>


                </div>

              </div>

              <div class = "panel panel-default">
                <div class = "panel-heading">
                  <h3 class = "panel-title">Get single job details by employer</h3>
                </div>

                <div class = "panel-body">
                  <div class = "col-xs-10">
                    <p>
                      <strong>Format:</strong>&nbsp;&nbsp;http://<%= request.host%>:<%= request.port%>/job_api/get_job.json?employer=:employer_id&job=:job_id
                    </p>
                    <p>
                      <strong>Answer:</strong>&nbsp;&nbsp;http://localhost:3000/job_api/get_job.json?employer=2&job=2
                    </p>
                  </div>


                </div>

              </div>

            </div>
            </div>
      </div>

    </div>

  </div>
    </div>

