<div class="inboard">
  <div class="margin">

    <%if !current_user.nil? && current_user.try(:role).try(:authority) == 'employer'%>
    <div class="enclosure">
      <h3>Employer Detail</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th class="last">My Employer Detail</th>
        </tr>
        <tr>
          <td class="last">
            <p><strong>Employer Name: </strong><%= current_user.name %></p>
            <p><strong>Employer ID: </strong><%= @employer.id%></p>
          </td>
        </tr>        
      </table> 
    </div>
    <% end %>


    <div class="enclosure">
      <h3>Job API's</h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th class="last">Get all jobs by an Employer</th>
        </tr>
        <tr>
          <td class="last">
            <p><strong>Format: </strong>http://<%= request.host%>:<%= request.port%>/job_api/get_job.json?employer=:employer_id&job=:job_id</p>
            <p><strong>Example: </strong>http://localhost:3000/job_api/get_job.json?employer=2&job=2</p>
          </td>
        </tr> 
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th class="last">Get single job details by employer</th>
        </tr>
        <tr>
          <td class="last">
            <p><strong>Format: </strong>http://<%= request.host%>:<%= request.port%>/job_api/get_job.json?employer=:employer_id&job=:job_id</p>
            <p><strong>Example: </strong>http://localhost:3000/job_api/get_job.json?employer=2&job=2</p>
          </td>
        </tr> 
      </table> 
    </div>


  </div>
</div>
