<!--start search-container-->
<div class="container-fluid search-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 no_pad ">

        <div class="company_users">

          <h1>My Notification</h1>

          <div id="no-more-tables">
            <table class="col-sm-12 table-bordered table-striped table-condensed cf">
              <p id="notice"><%= flash['message']%></p>
              <thead class="cf">
              <tr>
                <th style="display: none"></th>
                <th width=550>Notification Type </th>
                <th>Check</th>
              </tr>
              </thead>
              <tbody>
              <% @notifications.each do |notification| %>
                  <tr>
                    <td data-title="id" style="display: none">  <%= notification.id %></td>
                    <td data-title="Notification Type"><%= notification.n_type %></td>
                    <td data-title="Check" ><a rel="nofollow" data-method="get" href="<%= notification.url %>" onclick="destroy_notification(<%= notification.id %>, '<%= notification.n_type%>');"> Check </a> </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

<div class="paginations top-pagination">

<%= will_paginate @notifications, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>

</div>

</div>


<script type="text/javascript">
  function destroy_notification(id, n_type){



      $.ajax({

          url: '/notifications/'+id,
          type: 'DELETE',
          data: {n_type: n_type},
          success: function(data){
              $('#saved_filer').html(data);
          }

      });
  }
</script>
