<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Notifications</h3>
      <%= flash['message']%>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <!-- <th></th> -->
          <th>Notification Type</th>
          <th class="last">Check</th>
        </tr>
        <% @notifications.each do |notification| %>
          <tr>
            <!-- <td data-title="id"><%#= notification.id %></td> -->
            <td data-title="Notification Type"><%= notification.n_type %></td>
            <td data-title="Check" class="last"><a rel="nofollow" data-method="get" href="<%= notification.url %>" onclick="destroy_notification(<%= notification.id %>, '<%= notification.n_type%>');"> Check </a></td>
          </tr>
        <% end %>
      </table> 
    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @notifications, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div> 

  </div>
</div>

<script type="text/javascript">
  function destroy_notification(id, n_type){



      $.ajax({

          url: '/notifications/'+id,
          type: 'DELETE',
          data: {n_type: n_type},
          success: function(data){
              $('#saved_filer').html(data);
          }

      });
  }
</script>
