<!--start search-container-->
<div class="container-fluid search-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 no_pad ">

        <div class="company_users">
          <div class="create_job_sub_container container">

            <div class="row">
              <%= form_for :state_list ,:url=>{:controller=>'state_lists',:action=>'index'} ,:method=>'get' do |s|%>

                  <div class="col-md-2 col-sm-6 pad-right">
                  </div>

                  <div class="col-md-3 col-sm-6 pad-right">
                    <div class="job_input_container">
                      <label>Select Country </label>
                    <!--  <%= s.collection_select :country_list_id, CountryList.all, :id, :name %>-->
                      <select class="countryid", name = "countryid">
                        <% country_lists = CountryList.all%>


                        <option value=0>Select country</option>
                        <% country_lists.each do |country|%>


                        <option value=<%= country.id %>><%=country.name%></option>
                        <%end%>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6 pad-right">
                  </div>

                  <div class="col-md-3 col-sm-6">
                    <div class="job_input_container">
                      <label style="visibility:hidden">dummy</label>
                      <input type="submit" class="blue-btn" value="Search"/>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>

          <h1>States
            <%= link_to "Add", new_state_list_path, :class => 'orange-btn pull-right align-orange-btn' %>
          </h1>


          <div id="no-more-tables">
            <table class="col-sm-12 table-striped table-condensed cf">
              <p id="notice"><%= flash['message']%></p>
              <thead class="cf">
              <tr>
                <th style="display: none"></th>
                <th width=550>Name</th>
                <th width="100" class="table-last-th"></th>
              </tr>
              </thead>
              <tbody>
              <% @state_lists.each do |state_list| %>
                  <tr>
                    <td data-title="id" style="display: none"><%= state_list.id %></td>
                    <td data-title="Name"><%= state_list.try(:name) %></td>
                    <td data-title="" class="table-last-td">

                      <ul class="actions_container">
                        <li>
                          <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                      edit_state_list_path(state_list) %>

                        </li>
                        <li>
                          <%= link_to '<span class="icon icon_2"></span>'.html_safe,
                                      state_list_path(state_list),
                                      :method => :delete,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                        </li>
                      </ul>

                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>



      </div>

    </div>

  </div>

  <div class="paginations top-pagination">
      <%= will_paginate @state_lists, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
          </div>

</div>

<script>
    $(document).ready(function(){
        country_id = <%= params['countryid']%>
                $('.countryid').val(country_id);
    });
</script>
