<%=form_for @career, :html => { :class => "skill", :method=>'post'} do |f| %>

  <% if @career.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@career.errors.count, "error") %> prohibited this job from being saved:</h2>
        <ul>
          <% @career.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="form-group">
    <label>Job Title<em>*</em></label>
    <%= f.text_field :title,:required=>true %>
  </div>
  <div class="form-group">
    <label>Job Description<em>*</em></label>
    <%= f.text_area :description,:class => 'text_area_alignment',:required=>true,:maxlength=>1000 %>
    <small>Maximum 1000 characters are allowed</small>
  </div>
  <div class="form-group">
    <label>Job Link<em>*</em></label>
    <%= f.text_field :link,:required=>true %>
  </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),careers_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>

