<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Listing Careers</h3>
      <% if current_user.try(:role).try(:authority) =='admin'%>
        <h6><%= link_to "Add", new_career_path %></h6>
      <%end%>

      <% @careers.each do |career| %>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th><%= career.title %></th>
          <th class="last">Actions</th>
        </tr>

        <tr>
          <td>
            <span>
              <p>
                <strong>Job Description:</strong>&nbsp;&nbsp;<%= career.description %>
              </p>
              <p>
                <a href="<%= career.link %>">Job Link</a>
              </p>
            </span>
          </td>
          <td class="last">
            <% if current_user.try(:role).try(:authority) =='admin' %>
             <%= link_to edit_career_path(career), class: "icon icon-edit", title: "Edit" do %><% end %>
             <%= link_to career_path(career), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @careers, :inner_window =>2,:outer_window =>0,:renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>