<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>My Applied Jobs</h3>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Job</th>
          <th>Company</th>
          <th class="last">Status</th>
        </tr>
        <% @job_applications.each do |job_appliaction| %>
        <tr>
          <td data-title="Job"><a href="<%= job_path(job_appliaction.job.id) %>" target="_blank" class="orange" ><%= job_appliaction.try(:job).try(:title) %></td>
          <td data-title="Company"><span><%= job_appliaction.try(:job).try(:employer).try(:eprofile).try(:company_name) %></span></td>
          <td data-title="Status" class="last"><span><%= job_appliaction.try(:status) %></span></td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @job_applications,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>

