<%= form_for @salary_type, :html => { :class => "salary_type" } do |f| %>

 <% if @salary_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_type.errors.count, "error") %> prohibited this salary Type from being saved:</h2>

      <ul>
        <% @salary_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Salary Type-Name<em>*</em></label>
    <%= f.text_field :s_type ,:required=>true%>
  </div>

  
  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),salary_types_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>
