<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Salary Types</h3>
      <h6><%= link_to "Add", new_salary_type_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Salary Type Name</th>
          <th class="last">Actions</th>
        </tr>
        <% @salary_types.each do |salary_type| %>
        <tr>
          <td data-title="Salary Type Name"><span><%= salary_type.try(:s_type) %></span></td>
          <td class="last">
            <%= link_to edit_salary_type_path(salary_type), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to salary_type_path(salary_type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @salary_types, :inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>

