<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Skills</h3>
      <h6><%= link_to "Add new", new_skill_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Skill</th>
          <th>Years of Experience</th>
          <th class="last">Actions</th>
        </tr>
        <% @skills.each do |skill| %>
        <tr>
          <td data-title="Skills"><span><%= skill.name %></span></td>
          <td data-title="Years of Experience"><span><%= skill.year_of_experience %></span></td>
          <td class="last">
            <%= link_to edit_skill_path(skill), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to skill_path(skill), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @skills,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>