<div class="full-screen">

  <div class="middle">
    <h1>What You Do Makes You,<br> So Come And Join The Right Platform</h1>
    <input type="submit" value="&nbsp;I'm Hiring&nbsp;" class="btn btn-orange" id="banner-hiring"/>
    <input type="submit" value="I'm Seeking" class="btn btn-blue" id="banner-seeking"/>
    <%= render '/layouts/search/search_profile_form' %>
    <%= render '/layouts/search/search_job_form' %>
  </div>

  <div class="centered">
    <%= link_to "#content", class: "icon icon-scroll" do %>
    <% end %>
  </div>

</div>

<div id="content">

  <section class="exhibit">
    <div class="margin">

      <article class="orange">
        <div class="img-circle"><em class="icon icon-tie"></em></div>
        <h2>Employer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis tempor urna. Proin vitae velit efficitur, aliquet justo eget, maximus purus.</p>
        <%= link_to "Post a Job", new_job_path, class: "btn btn-orange" %>
        <%= link_to "Talent alert", new_talent_alert_path, class: "btn btn-orange-ghost" %>
      </article>

      <article class="blue">
        <div class="img-circle"><em class="icon icon-cap"></em></div>
        <h2>Job Seeker</h2>
        <p>Cras blandit eu nisl ut dictum. Mauris non quam elit. Morbi laoreet eros nisi, interdum dictum orci commodo consectetur adipiscing </p>
        <%= link_to "Post a Talent", jprofiles_path, class: "btn btn-blue" %>
        <%= link_to "Job alert", new_job_alert_path, class: "btn btn-blue-ghost" %>
      </article>

    </div>
  </section>

  <section class="tabs-container">
    <div class="margin">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="orange active"><a href="#jobs-tab" aria-controls="jobs-tab" role="tab" data-toggle="tab"><em class="icon icon-tie"></em><strong>Jobs&nbsp;&nbsp;</strong></a></li>
        <li role="presentation" class="blue"><a href="#talent-tab" aria-controls="talent-tab" role="tab" data-toggle="tab"><em class="icon icon-cap"></em><strong>Talents<strong></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="jobs-tab">

          <!-- Sub Nav tabs -->
          <ul class="nav nav-tabs sub" role="tablist">
            <li role="presentation" class="orange active"><a href="#jobs-tab1" aria-controls="jobs-tab1" role="tab" data-toggle="tab">By Category </a></li>
            <li role="presentation" class="orange"><a href="#jobs-tab2" aria-controls="jobs-tab2" role="tab" data-toggle="tab">By Location</a></li>
            <li role="presentation" class="orange"><a href="#jobs-tab3" aria-controls="jobs-tab3" role="tab" data-toggle="tab">By Company</a></li>
            <li role="presentation" class="orange"><a href="#jobs-tab4" aria-controls="jobs-tab4" role="tab" data-toggle="tab">By Industry</a></li>
          </ul>


          <!-- Sub Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="jobs-tab1">
              <ul class="item">
                <%if @res != nil %>
                  <% @res.facet(:categoryname).rows.each do |facet| %>
                    <li class="orange"><a href="/search/jobs?&category=<%=CGI.escape(facet.value)%>&distance=500"><%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
            <div role="tabpanel" class="tab-pane" id="jobs-tab2">
              <ul class="item">
                <%if @res != nil %>
                  <% @res.facet(:city).rows.each do |facet| %>
                    <li class="orange"><a href="/search/jobs?&city=<%=CGI.escape(facet.value)%>&distance=500"> <%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
            <div role="tabpanel" class="tab-pane" id="jobs-tab3">
              <ul class="item">
                <%if @res != nil %>
                  <% @res.facet(:companyname).rows.each do |facet| %>
                    <li class="orange"><a href="/search/jobs?&company=<%=CGI.escape(facet.value)%>&distance=500"> <%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
            <div role="tabpanel" class="tab-pane" id="jobs-tab4">
              <ul class="item">
                <%if @res != nil %>
                  <% @res.facet(:industry).rows.each do |facet| %>
                    <li class="orange"><a href="/search/jobs?&industry=<%=CGI.escape(facet.value)%>&distance=500"> <%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
          </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="talent-tab">
          
          <!-- Sub Nav tabs -->
          <ul class="nav nav-tabs sub" role="tablist">
            <li role="presentation" class="blue active"><a href="#talent-tab1" aria-controls="talent-tab1" role="tab" data-toggle="tab">By Location </a></li>
            <li role="presentation" class="blue"><a href="#talent-tab2" aria-controls="talent-tab2" role="tab" data-toggle="tab">By Skills</a></li>
          </ul>


          <!-- Sub Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="talent-tab1">
              <ul class="item">
                <%if @res1 != nil %>
                  <% @res1.facet(:city).rows.each do |facet| %>
                    <li class="blue"><a href="/search/profiles?&city=<%=CGI.escape(facet.value)%>&distance=500"><%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
            <div role="tabpanel" class="tab-pane" id="talent-tab2">
              <ul class="item">
                <%if @res1 != nil %>
                  <% @res1.facet(:skills).rows.each do |facet| %>
                    <li class="blue"><a href="/search/profiles?&skills=<%=CGI.escape(facet.value)%>&distance=500"> <%= facet.value%><span class="count">( <%=facet.count%> )</span></a></li>
                  <%end%>  
                <%end%>
              </ul> 
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="stratum blue">
    <div class="margin">

      <ul class="amount">

        <li>
          <h2><strong><%=@jobs.count%></strong>Jobs</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </li>

        <li>
          <h2><strong><%=@eprofiles.count%></strong>Employers</h2>
          <p>Proin bibendum urna id ante</p>
        </li>

        <li>
          <h2><strong><%=@jprofiles.count%></strong>Talents</h2>
          <p>Amet laoreet diam molestie</p>
        </li>

      </ul>

    </div>
  </section>

  <%if @testimonials.count > 0 %>
  <section class="attest">
    <div class="margin">

      <ul class="testimonials">
        <% @testimonials.each do |testimonial|%>
          <li>
            <div class="lozenge">
              <div class="mask">
                <% if testimonial.logo? %>
                  <%= image_tag testimonial.logo.url(:medium), title: "", alt: "" %>
                <% end %>   
              </div>
              <div class="commas"><span>“</span></div>
            </div>
            
            <article>
              <h3><%= testimonial.try(:name)%></h3>
              <h4><%= testimonial.try(:company)%></h4>
              <p><%= testimonial.try(:description)%></p>
            </article>
          </li>
        <% end %>
      </ul>
      
    </div>
  </section>
  <% end %>


</div>
