<div class="container-fluid search-container">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 no_pad ">
      <div class="company_users employers_applications">
      <h3 class="user_app">Users</h3>
      <div class="create_job_sub_container container">

    <div class="row">
      <%= form_for :app_users ,:url=>{:controller=>'app_users',:action=>'index'} ,:method=>'get' do |s|%>

      <div class="col-md-3 col-sm-6 pad-right">
          <div class="job_input_container">
              <label>User Name </label>
              <input type="text" name="name">
          </div>
      </div>

          <div class="col-md-3 col-sm-6 pad-right">
            <div class="job_input_container">
              <label>User Type </label>
              <select name="user_type" id="user_type">
                <option value="">All</option>
                <option value="3">Jobseeker</option>
                <option value="2">Employer</option>
              </select>
            </div>
          </div>



          <div class="col-md-6 col-sm-6">
            <div class="job_input_container">
              <label style="visibility:hidden">dummy</label>
              <input type="submit" class="blue-btn" value="Search"/>
            </div>
          </div>
      <% end %>

    </div>
  </div>


  <div id="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th width="190">Name</th>
        <th>Email</th>
        <th>Role</th>
        <th width="250">Status</th>
        <th width="" class="table-last-th"></th>
      </tr>
      </thead>
      <tbody>
      <% if !@users.blank? %>

        <% @users.each do |user| %>
          <tr>
            <td data-title="Name"><%=user.try(:profile_name)%></td>
            <td data-title="Email"> <%= user.email%></td>
            <td data-title="Role"><%= user.role.authority%></td>
            <!--<td data-title="Account Type"><span class="green_button button"><%#= user.user_account_status%></span></td>-->
            <td data-title="Status"><%= user.user_account_status%></td>

            <td data-title="" class="table-last-td">

                <%if user.active? %>
                      <%= link_to app_users_active_deactive_path(id: user.id, :flag => !user.active), :method=> :post  do %>
                        <span class="acct_btn"><span class="icon icon_2"></span>DeActivate</span>
                        <%end%>
                <%else%>
                  <%= link_to app_users_active_deactive_path(id: user.id, :flag => !user.active), :method=> :post  do %>
                      <span class="acct_btn"><span class="icon icon_1"></span>Active</span>
                      <%end%>
                <%end%>
                <ul class="actions_container">
                  <%if user.try(:role).try(:authority) == 'jobseeker'%>
                      <li> <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                        jprofile_path(user.try(:profile)) %></li>
                      <% else %>

                      <li> <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                       eprofile_path(user.try(:profile)) %></li>
                  <% end %>
                </ul>
            </td>
          </tr>
          <% end %>
        </tbody>


    <% else %>
      <h5 style="color:red; text-align:center;"><%= "No results matched for your search!!" %></h5>
    <% end %>
    </table>

  </div>
 </div>
 </div>

</div>

</div>
<div class="paginations top-pagination remove_pad">
  <%= will_paginate @users,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      var user_type = "<%= params[:user_type]%>";
      if(user_type){
          $("#user_type > [value=" + user_type + "]").attr("selected", "true");
      }
  });

</script>
