<section class="pricing">
  <div class="margin">

    <article>
      <h1 class="title">
        Pricing
      </h1>
      <p>
        Proin ac nibh justo. Proin blandit risus ut nisl posuere lobortis. Morbi justo mauris, aliquam sit amet varius sit amet, sodales id neque. Aliquam maximus commodo justo. Quisque vitae purus massa. Aliquam in velit in diam tempus blandit.
      </p>
    </article>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="orange active"><a href="#employers" aria-controls="employers" role="tab" data-toggle="tab"><em class="icon icon-tie"></em><strong>Employers</strong></a></li>
      <li role="presentation" class="blue"><a href="#job-seekers" aria-controls="job-seekers" role="tab" data-toggle="tab"><em class="icon icon-cap"></em><strong>Job seekers<strong></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="orange tab-pane active" id="employers">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight">MOST POPULAR</td>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight noline">&nbsp;</td>
        </tr>
        <tr>
            <th>Your Package</th>
            <% @employer_plans.each do |plan| %>
                <th>
                    <h4><%= plan.name %></h4>
                    <% if(plan.price > 0) %>
                        <div class="wrap">
                            <em>$</em>
                            <h5><%= plan.price %></h5>
                            <small></small>
                        </div>
                    <% end %>
                </th>
            <% end %>

        </tr>

        <tr>
          <td>Jobs Post</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <% if(plan.job_post > 0) %>
                  <strong><%= plan.job_post %></strong>
                <% else %>
                  <strong>Unlimited</strong>
                <% end %>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>User Account</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <% if(plan.user_account != -1) %>
                    <strong><%= plan.user_account %></strong>
                <% else %>
                    <strong>Unlimited</strong>
                <% end %>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>Analytics</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <strong><%= plan.analytics.to_s.humanize %></strong>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>Email Support</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <strong><%= plan.email_support.to_s.humanize %></strong>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>Phone Support</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <strong><%= plan.phone_support.to_s.humanize %></strong>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>API</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <strong><%= plan.api.to_s.humanize %></strong>
              </td>
          <% end %>
        </tr>
        <tr>
          <td>Profile Alert</td>
          <% @employer_plans.each do |plan| %>
              <td>
                <strong><%= plan.profile_alert.to_s.humanize %></strong>
              </td>
          <% end %>
        </tr>
        <tr>
            <td class="noline">&nbsp;</td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
        </tr>
      </table>


      </div>
      <div role="tabpanel" class="blue tab-pane" id="job-seekers">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight">MOST POPULAR</td>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight noline">&nbsp;</td>
          </tr>
          <tr>
            <th>Your Package</th>
            <% @jobseeker_plans.each do |plan| %>
                <th>
                  <h4><%= plan.name %></h4>
                  <% if(plan.price != 0) %>
                      <div class="wrap">
                        <em>$</em>
                        <h5><%= plan.price %></h5>
                        <small></small>
                      </div>
                  <% end %>
                </th>
            <% end %>

          </tr>

          <tr>
            <td>Jobs Post</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <% if(plan.job_post > 0) %>
                      <strong><%= plan.job_post %></strong>
                  <% else %>
                      <strong>Unlimited</strong>
                  <% end %>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>User Account</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <% if(plan.user_account > 0) %>
                      <strong><%= plan.user_account %></strong>
                  <% else %>
                      <strong>Unlimited</strong>
                  <% end %>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>Analytics</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <strong><%= plan.analytics.to_s.humanize %></strong>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>Email Support</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <strong><%= plan.email_support.to_s.humanize %></strong>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>Phone Support</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <strong><%= plan.phone_support.to_s.humanize %></strong>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>API</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <strong><%= plan.api.to_s.humanize %></strong>
                </td>
            <% end %>
          </tr>
          <tr>
            <td>Profile Alert</td>
            <% @jobseeker_plans.each do |plan| %>
                <td>
                  <strong><%= plan.profile_alert.to_s.humanize %></strong>
                </td>
            <% end %>
          </tr>
          <tr>
            <td class="noline">&nbsp;</td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
          </tr>
        </table>


      </div>
    </div>


  </div>
</section>
