<section class="pricing">
  <div class="margin">

    <article>
      <h1 class="title">
        Pricing
      </h1>
      <p>
        Proin ac nibh justo. Proin blandit risus ut nisl posuere lobortis. Morbi justo mauris, aliquam sit amet varius sit amet, sodales id neque. Aliquam maximus commodo justo. Quisque vitae purus massa. Aliquam in velit in diam tempus blandit.
      </p>
    </article>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="orange active"><a href="#employers" aria-controls="employers" role="tab" data-toggle="tab"><em class="icon icon-tie"></em><strong>Employers</strong></a></li>
      <li role="presentation" class="blue"><a href="#job-seekers" aria-controls="job-seekers" role="tab" data-toggle="tab"><em class="icon icon-cap"></em><strong>Job seekers<strong></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="orange tab-pane active" id="employers">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight noline">&nbsp;</td>
          <td class="highlight">MOST POPULAR</td>
          <td class="highlight noline">&nbsp;</td>
        </tr>
        <tr>
          <th>Your Package</th>
          <th>
            <h4>FREE</h4>
          </th>
          <th>
            <h4>GOLD</h4>
            <div class="wrap">
              <em>$</em>
              <h5>40</h5>
              <small>/ month</small>
            </div>
          </th>
          <th>
            <h4>Platinum</h4>
            <div class="wrap">
              <em>$</em>
              <h5>60</h5>
              <small>/ month</small>
            </div>
          </th>
          <th>
            <h4>API</h4>
            <div class="wrap">
              <em>$</em>
              <h5>80</h5>
              <small>/ month</small>
            </div>
          </th>
        </tr>
        <tr>
          <td>Proin ac nibh justo</td>
          <td><strong>1</strong></td>
          <td><strong>20</strong></td>
          <td><strong>Unlimited</strong></td>
          <td><strong>Unlimited</strong></td>
        </tr>
        <tr>
          <td>Morbi justo mauris</td>
          <td><strong>1</strong></td>
          <td><strong>20</strong></td>
          <td><strong>Unlimited</strong></td>
          <td><strong>Unlimited</strong></td>
        </tr>
        <tr>
          <td>Aliquam in velit</td>
          <td><strong>No</strong></td>
          <td><strong>5</strong></td>
          <td><strong>Unlimited</strong></td>
          <td><strong>Unlimited</strong></td>
        </tr>
        <tr>
          <td>Quisque vitae</td>
          <td><strong>No</strong></td>
          <td><strong>Included</strong></td>
          <td><strong>Included</strong></td>
          <td><strong>Included</strong></td>
        </tr>
        <tr>
          <td class="noline">&nbsp;</td>
          <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
          <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
          <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
          <td><%= link_to "SIGN UP", "#", class: "btn btn-orange" %></td>
        </tr>
      </table>


      </div>
      <div role="tabpanel" class="blue tab-pane" id="job-seekers">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight">MOST POPULAR</td>
            <td class="highlight noline">&nbsp;</td>
            <td class="highlight noline">&nbsp;</td>
          </tr>
          <tr>
            <th>Your Package</th>
            <th>
              <h4>FREE</h4>
            </th>
            <th>
              <h4>GOLD</h4>
              <div class="wrap">
                <em>$</em>
                <h5>40</h5>
                <small>/ month</small>
              </div>
            </th>
            <th>
              <h4>Platinum</h4>
              <div class="wrap">
                <em>$</em>
                <h5>60</h5>
                <small>/ month</small>
              </div>
            </th>
            <th>
              <h4>API</h4>
              <div class="wrap">
                <em>$</em>
                <h5>80</h5>
                <small>/ month</small>
              </div>
            </th>
          </tr>
          <tr>
            <td>Proin ac nibh justo</td>
            <td><strong>1</strong></td>
            <td><strong>20</strong></td>
            <td><strong>Unlimited</strong></td>
            <td><strong>Unlimited</strong></td>
          </tr>
          <tr>
            <td>Morbi justo mauris</td>
            <td><strong>1</strong></td>
            <td><strong>20</strong></td>
            <td><strong>Unlimited</strong></td>
            <td><strong>Unlimited</strong></td>
          </tr>
          <tr>
            <td>Aliquam in velit</td>
            <td><strong>No</strong></td>
            <td><strong>5</strong></td>
            <td><strong>Unlimited</strong></td>
            <td><strong>Unlimited</strong></td>
          </tr>
          <tr>
            <td>Quisque vitae</td>
            <td><strong>No</strong></td>
            <td><strong>Included</strong></td>
            <td><strong>Included</strong></td>
            <td><strong>Included</strong></td>
          </tr>
          <tr>
            <td class="noline">&nbsp;</td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-blue" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-blue" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-blue" %></td>
            <td><%= link_to "SIGN UP", "#", class: "btn btn-blue" %></td>
          </tr>
        </table>


      </div>
    </div>

   
  </div>
</section>