<%= form_for @industry, :html => { :class => "industry" } do |f| %>

  <% if @industry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@industry.errors.count, "error") %> prohibited this industry from being saved:</h2>

      <ul>
        <% @industry.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label>Industry Name<em>*</em></label>
    <%= f.text_field :name ,:required=>true%>
  </div>
  
  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),industries_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>
