<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Industries</h3>
      <h6><%= link_to "Add", new_industry_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Industry Name</th>
          <th class="last">Actions</th>
        </tr>
         <% @industries.each do |industry| %>
        <tr>
          <td data-title="Industry Name"><span><%= industry.try(:name) %></span></td>
          <td class="last">
            <%= link_to edit_industry_path(industry), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to industry_path(industry), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @industries,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>