<div class="inboard">
  <div class="margin">

    <div class="enclosure">

      <h3>Country</h3>
      <h6><%= link_to "Add", new_country_list_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Name</th>
          <th class="last">Actions</th>
        </tr>

        <% @country_lists.each do |country_list| %>
          <tr>
            <td data-title="Name"><span><%= country_list.try(:name) %></span></td>
            <td class="last">
              <%= link_to edit_country_list_path(country_list), class: "icon icon-edit", title: "Edit" do %><% end %>
              <%= link_to country_list_path(country_list), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
            </td>
          </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @country_lists,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>