<%= form_for @certification, :html => { :class => "certification" } do |f| %>

  <% if @certification.errors.any? %>
    <ul>
      <% @certification.errors.full_messages.each do |message| %>
          <li li style="color:red;"><%= message %></li>
      <% end %>
    </ul>
  <% end %>



  <div class="form-group">
    <label>Certification Name<em>*</em></label>
    <%= f.text_field :name,:maxlength=>100,:required=>true %>
  </div>
  <div class="form-group">
    <label>Institution:</label>
    <%= f.text_field :institution,:maxlength=>200 %>
  </div>
  <div class="form-group tripartite">
    <label>Received:</label>
    <%= f.date_select :received %>
  </div>
  <div class="form-group tripartite">
    <label>Expired:</label>
    <%= f.date_select :expired %>
  </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),educations_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>
