
<%= form_for @certification, :html => { :class => "form-horizontal certification" } do |f| %>
    <% if @certification.errors.any? %>
        <div class="errors1">
          <!--<h2><%= pluralize(@certification.errors.count, "error") %> prohibited this job from being saved:</h2>-->

          <ul>
            <% @certification.errors.full_messages.each do |message| %>
                <li li style="color:red;"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="l-block l-block_1">
      <label>Certification Name<em>*</em></label><%= f.text_field :name,:maxlength=>100,:required=>true %>
    </div>


    <div class="l-block l-block_1">
      <label>Institution:</label><%= f.text_field :institution,:maxlength=>200 %>
    </div>

    <div class="l-block l-block_10">
      <label>Received:</label><%= f.date_select :received %>
    </div>


    <div class="l-block l-block_10">
      <label>Expired:</label><%= f.date_select :expired %>
    </div>


    <div class="form-group pro_form_group">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    educations_path, :class => 'btn btn-warning' %>
      </div>
    </div>

<%end%>
