<script>
    $(document).ready(function() {
        $(".datehide").show();
        $("#job_history_currentcompany_true,#job_history_currentcompany_false").click(function(){
            if ( $('#job_history_currentcompany_true').prop("checked") ){
            $(".datehide").hide();
            }
            else{
            $(".datehide").show();}
        });
        $("#job_history_currentcompany_true,#job_history_currentcompany_false").ready(function(){
           if ( $('#job_history_currentcompany_true').prop("checked") ){
               $(".datehide").hide();
           }
           else{
               $(".datehide").show();}
       });
    });
</script>


<%= form_for @job_history, :html => { :class => "job_history" } do |f| %>

  <% if @job_history.errors.any? %>
    <ul>
      <% @job_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <label>Title<em>*</em></label>
    <%= f.text_field :title,:required=>true,:maxlength=>100 %>
  </div>
  <div class="form-group">
    <label>Organization<em>*</em></label>
    <%= f.text_field :organization,:required=>true,:maxlength=>100 %>
  </div>
  <div class="form-group">
    <label>Is it current company?</label>
    <div class="iradio">  
      <%= f.radio_button :currentcompany,true,:value=>true %><%= f.label :currentcompany, "Yes" %>
      <%= f.radio_button :currentcompany,false,:value=>false%><%= f.label :currentcompany, "No" %>
    </div>
  </div>

  <div class="form-group tripartite">
    <label>From</label>
    <%= f.date_select :from %>
  </div>

  <div class="form-group tripartite">
    <label>To</label>
    <%= f.date_select :to %>
  </div>


  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),job_histories_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-orange' %>
  </div>

<%end%>
