<%- model_class = JobHistory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @job_history.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
  <dd><%= @job_history.organization %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from) %>:</strong></dt>
  <dd><%= @job_history.from %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to) %>:</strong></dt>
  <dd><%= @job_history.to %></dd>
  <dt><strong><%= model_class.human_attribute_name(:jprofile_id) %>:</strong></dt>
  <dd><%= @job_history.jprofile_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              job_histories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_job_history_path(@job_history), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_history_path(@job_history),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
