<!--start advance search popup-->
        <%#= form_for :search ,:url=>{:controller=>'search',:action=>'search_profiles'} ,:method=>'get' do |s|%>
    <form action="/search/profiles" class="search-panel">
          <!--start advance search popup-->
          <div id="popup2" class="modal-box">
              <header>
                  <a href="#" class="js-modal-close close">×</a>
                  <h3>Advanced Talent Search</h3>
              </header>

              <div class="modal-body">

                  <div class="advance-job-container">
                      <div class="advance-job">
                          <label>Skills</label>
                          <input type="text" value="<%= params[:skills]%>" name="skills" class="ad1-text" placeholder="Skills" />
                      </div>

                      <div class="advance-job">
                          <label>Title</label>
                          <input type="text" name="title" class="ad1-text" value="<%= params[:title]%>" placeholder="Title" />
                      </div>

                     <div class="advance-job">
                          <label>Education</label>
                          <input type="text" name="education" class="ad1-text" value="<%= params[:education] %>" placeholder="Education" />
                      </div>

                  </div>
                  <!--End advance-job-container-->

                  <div class="advance-job-container">
                      <div class="advance-job">
                          <label>Location</label>
                          <input type="text" name="where" class="ad1-text" placeholder="City, State or Zip Code" value="<%= params[:location]%>" />
                      </div>

                      <div class="advance-job">
                          <label>Radius Within</label>
                          <div class="radius">
                              <span></span>
                              <select class="small-drp" name="distance" value="<%= params[:distance]%>" >
                                <option value="500" <%if params[:distance]=='500' %>
                                        selected
                                        <%end%>  >Any Where</option>
                                <option value="5" <%if params[:distance]=='5' %>
                                        selected
                                        <%end%>>5 Miles</option>
                                <option value="10" <%if params[:distance]=='10' %>
                                        selected
                                        <%end%>>10 Miles</option>
                                <option value="20" <%if params[:distance]=='20' %>
                                        selected
                                        <%end%>>20 Miles</option>
                                <option value="30" <%if params[:distance]=='30' %>
                                        selected
                                        <%end%>>30 Miles</option>
                                <option value="50" <%if params[:distance]=='50' %>
                                        selected
                                        <%end%>>50 Miles</option>
                              </select>
                          </div>
                      </div>

                  </div>

                <div class="advance-job-container">

                    <div class="advance-job" >
                      <label>Salary Type</label>
                      <div style="color:#0000FF" class = "search_bar_l-block_1">
                        <%= select_tag "salary_type", options_from_collection_for_select(SalaryType.all, :s_type, :s_type,params[:salary_type]),:prompt => 'Any', :class => 'search_bar_small-drp'%>
                      </div>
                    </div>



                    <div class="advance-job">
                      <label>Salary</label>
                      <input type="text" name="salary" class="ad1-text" placeholder="Amount" value="<%= params[:salary]%>"/>
                    </div>

                  <div class="advance-job" >
                    <label>Profile Updated</label>
                    <div style="color:#0000FF">
                      <select class="small-drp" name="postingdate">
                        <option value="" <%if params[:postingdate]=='' %>
                                selected
                                <%end%>>Any</option>
                        <option value="Last 24 hours" <%if params[:postingdate]=='Last 24 hours' %>
                                selected
                                <%end%>>Last 24 hours
                        </option>
                        <option value="Last 3 days" <%if params[:postingdate]=='Last 3 days' %>
                                selected
                                <%end%>>Last 3 days</option>
                        <option value="Last 7 days" <%if params[:postingdate]=='Last 7 days' %>
                                selected
                                <%end%>>Last 7 days</option>
                        <option value="Last 15 days" <%if params[:postingdate]=='Last 15 days' %>
                                selected
                                <%end%>>Last 15 days</option>
                        <option value="Last 30 days" <%if params[:postingdate]=='Last 30 days' %>
                                selected
                                <%end%>>Last 30 days</option>

                      </select>
                    </div>
                  </div>

                    <!--End advance-job-container-->
                </div>

                  <!--End advance-job-container-->


                      <div class="search-button">
                          <input type="submit" name="" class="search-btn" value="Search" />
                      </div>


                  </div>




              </div>

          </div>
          <!--End advance search popup-->
</form>
        <%# end %>
