<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Enquiry Categories</h3>
      <h6><%= link_to "Add", new_enquiry_category_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Name</th>
          <th class="last">Actions</th>
        </tr>
        <% @enquiry_categories.each do |enquiry_category| %>
        <tr>
          <td data-title="Name"><span><%= enquiry_category.try(:name) %></span></td>
          <td class="last">
            <%= link_to edit_enquiry_category_path(enquiry_category), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to enquiry_category_path(enquiry_category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @enquiry_categories,:inner_window =>2,:outer_window =>0, :renderer=> PaginationHelper::LinkRenderer%>
      </div>
    </div>


  </div>
</div>

