<div class="inboard">
  <div class="margin">

    <div class="enclosure">

      <h3>Subscribed Users</h3>

      <%= form_for :subscriptions, :url => {:controller => 'subscriptions', :action => 'index'}, :method => 'get' do |s| %>
        <div class="form-group w50">
          <label>Plan Type </label>
          <select name="plan_type" id="user_type" class="selectpicker">
            <option value="" <%if params[:plan_type]=='' %>selected<%end%>>Select plan type</option>
            <option value="all" <%if params[:plan_type]=='all' %>selected<%end%>>All</option>
            <option value="Jobseeker" <%if params[:plan_type]=='Jobseeker' %>selected<%end%>>Jobseeker</option>
            <option value="Employer" <%if params[:plan_type]=='Employer' %>selected<%end%>>Employer</option>
          </select>
        </div>
        <div class="form-group w50">
          <label>Plan </label>
          <select name="plan" id="user_type" class="selectpicker">
            <option value="all" <%if params[:plan]=='' %>selected<%end%>>Select Plan</option>
            <option value="all" <%if params[:plan]=='all' %>selected<%end%>>All</option>
            <option value="FREE" <%if params[:plan]=='FREE' %>selected<%end%>>Free</option>
            <option value="Monthly" <%if params[:plan]=='Monthly' %>selected<%end%>>Monthly</option>
            <option value="Quarterly" <%if params[:plan]=='Quarterly' %>selected<%end%>>Quarterly</option>
            <option value="HalfYearly" <%if params[:plan]=='HalfYearly' %>selected<%end%>>Half Yearly</option>
            <option value="Yearly" <%if params[:plan]=='Yearly' %>selected<%end%>>Yearly</option>
          </select>
        </div>
        <div class="actions w25">
          <input type="submit" class="btn btn-blue" value="Search"/>
        </div>
      <% end %>

    </div>

    <div class="enclosure">

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Plan</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th class="last">Actions</th>
        </tr>

        <% if !@subscriptions.blank? %>
          <% @subscriptions.each do |subscription| %>
          <tr>
            <td data-title="Name"><span><%= subscription.try(:user).try(:profile_name) %></span></td>
            <td data-title="Email"><span><%= subscription.try(:user).try(:email) %></span></td>
            <td data-title="Plan"><span><%= subscription.try(:plan).try(:name) %></span></td>
            <td data-title="Start Date"><span><%= subscription.start_date.try(:strftime,"%m/%d/%Y") %></span></td>
            <td data-title="End Date"><span><%= subscription.try(:end_date).try(:strftime,"%m/%d/%Y") %></span></td>
            <td class="last">
              <%= link_to  edit_subscription_path(subscription), class: "icon icon-edit", title: "Edit" do %><% end %>
            </td>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <td colspan="5"><span><%= "No results matched for your search!!" %></span></td>
          </tr>
        <% end %>
      </table> 

    </div>

    <div class="centered">
      <div class="paginations">
        <%= will_paginate @subscriptions, :inner_window =>2,:outer_window =>0, :renderer => PaginationHelper::LinkRenderer %>
      </div>
    </div>


  </div>
</div>

