<%= form_for @journal, :html => { :class => "journal" } do |f| %>

  <% if @journal.errors.any? %>
    <ul>
      <% @journal.errors.full_messages.each do |message| %>
          <li style="color:red;"><%= message %></li>
      <% end %>
    </ul>
  <% end %>



  <div class="form-group">
    <label>Name<em>*</em></label>
    <%= f.text_field :name,:maxlength=>1000,:required=>true %>
  </div>
  <div class="form-group tripartite">
    <label>Date:</label>
    <%= f.date_select :date %>
  </div>
  <div class="form-group">
     <label>Reference:</label>
     <%= f.text_field :reference,:maxlength=>1000 %>
  </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),educations_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>
