<ul class="list" id="profile_info_window">
  <li><strong>Title:</strong><span><%= @jprofile.try(:title) %></span></li>
  <li><strong>Name:</strong><span><%= @jprofile.try(:name) %></span></li>
  <li><strong>Email:</strong><span><%= @jprofile.try(:jobseeker).try(:user).try(:email) %></span></li>
  <li><strong>Address:</strong>
    <span>
      <%= @jprofile.try(:address1) %> <%if @jprofile.address1.present? %>, <%end%>
      <%= @jprofile.try(:address2) %> <%if @jprofile.address2.present? %>, <%end%>
      <%= @jprofile.try(:city) %> <%if @jprofile.city.present? %>, <%end%>
      <%= @jprofile.try(:state_list).try(:name) %><%if @jprofile.state_list.present? %>, <%end%>
      <%= @jprofile.try(:country_list).try(:name) %><%if @jprofile.country_list.present? %>. <%end%>
    </span>
  </li>
  <li><strong>Zip Code:</strong><span><%= @jprofile.try(:zip) %></span></li>
  <li><strong>Phone:</strong><span><%= @jprofile.try(:phone) %></span></li>
  <li><strong>Salary Type:</strong><span><%= @jprofile.try(:salary_type).try(:s_type) %></span></li>
  <li><strong>Salary:</strong><span><%= @jprofile.try(:salary) %> </span></li>
  <li><strong>Summary:</strong><span><%= @jprofile.try(:summary) %></span></li>
  <li><strong>Resume:</strong>
    <%if !@jprofile.resume_file_name.nil? %>
    <%= link_to "View Resume", @jprofile.resume.url(:original, false), :target => '_blank', class: "btn btn-blue-ghost" %>
    <%= link_to "Download Resume", jprofiles_download_resume_path(:id => @jprofile.id), :method => 'post', :target => '_blank', class: "btn btn-blue-ghost" %>
    <% else %>
        <span>No Resume Available, Please upload</span>
    <% end %>
  </li>


</ul> 