<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Summary</h3>
      <h6>Member Since <%= @jobseeker.created_at.strftime("%m / %d / %Y") %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge summary">
        <tr>
          <th>Recent Acitivity</th>
          <th class="last">Update from last visit</th>
        </tr>
        <tr>
          <td><span><%= @jobapp.count %> Jobs Applied</span></td>
          <td class="last"><span><%= @contact_recent.count %> Employers contacted</span></td>
        </tr>
         <tr>
          <td><span><%= @views %> Employers viewed your profile</span></td>
          <td class="last"><span><%= @views_recent %> Employers viewed your profile</span></td>
        </tr>
        <tr>
          <td><span><%= @contat.count %> Employers contacted</span></td>
          <td class="last"><em class="icon icon-tie"></em><span><%= @newjobs.count %> New Jobs</span></td>     
        </tr>
        <tr>
          <td><em class="icon icon-tie"></em><span><%= @networks.count %> Employers in your network</span></td>
          <td class="last"><em class="icon icon-review"></em><span><%= @reviews_recent.count %> Reviews</span></td>
        </tr>
        <tr>
          <td><em class="icon icon-review"></em><span><%= @reviews.count %> Reviews</span></td>
          <td class="last">&nbsp;</td>
        </tr>
      </table> 

    </div>



  </div>
</div>
