
<%= form_for @education, :html => { :class => "form-horizontal education" } do |f| %>
    <% if @education.errors.any? %>
        <div id="">
         <!-- <h2><%= pluralize(@education.errors.count, "error") %> prohibited this job from being saved:</h2>-->

          <ul>
            <% @education.errors.full_messages.each do |message| %>
                <li style="color:red;"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="l-block l-block_1">
      <label>Degree<em>*</em></label><%= f.text_field :degree ,:required=>true,:maxlength=>100%>
    </div>


    <div class="l-block l-block_1">
      <label>Field:</label><%= f.text_field :field,:maxlength=>100 %>
    </div>

    <div class="l-block l-block_1">
      <label>Institution:</label><%= f.text_field :institution,:maxlength=>200 %>
    </div>


    <div class="l-block l-block_1">
      <label>Location:</label><%= f.text_field :location,:maxlength=>1000%>
    </div>

    <div class="l-block l-block_1">
      <label>Completion<em>*</em></label><%= f.text_field :completion,:maxlength=>20,:required=>true %>
    </div>


    <div class="form-group pro_form_group">
      <div class="col-sm-offset-4 col-sm-10">
        <%= f.submit 'Save', :class => 'btn btn-primary' %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    educations_path, :class => 'btn btn-warning' %>
      </div>
    </div>

<%end%>
