<!--start search-container-->
<div class="container-fluid search-container">
<div class="container">
<div class="row">

<div class="col-lg-12 no_pad ">

<!--End responsive-menu-->
<div class="job_seeker_my_acc">

  <div class="company_users">

    <h1>Education</h1>
    <h2>Degrees
      <%= link_to "Add", new_education_path, :class => 'orange-btn pull-right align-orange-btn' %>
    </h2>
    <div id="no-more-tables">
      <table class="col-sm-12 table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th>Degree</th>
          <th>Field</th>
          <th>Institution</th>
          <th>Location</th>
          <th>Completion</th>
          <th width="100" class="table-last-th"></th>
        </tr>
        </thead>
        <tbody>

        <% @educations.each do |education| %>

            <tr>
              <td data-title="Degree"><%= education.degree %></td>
              <td data-title="Field"><%= education.field %></td>
              <td data-title="Institution"><%= education.institution %></td>
              <td data-title="Location"><%= education.location %></td>
              <td data-title="Completion"><%= education.completion %></td>
              <td data-title="" class="table-last-td">

                <ul class="actions_container">
                  <li>
                    <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                edit_education_path(education) %>
                  </li>


                  <li>
                    <%= link_to '<span class="icon icon_2"></span>'.html_safe,
                                 education_path(education),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                  </li>
                </ul>

              </td>
            </tr>
        <% end %>




        </tbody>
      </table>
    </div>

    <h2>Certification
      <%= link_to "Add", new_certification_path, :class => 'orange-btn pull-right align-orange-btn' %>
    </h2>
    <div id="no-more-tables">
      <table class="col-sm-12 table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th>Certification Name</th>
          <th>Institution</th>
          <th>Received</th>
          <th>Expired</th>
          <th width="100" class="table-last-th"></th>
        </tr>
        </thead>
        <tbody>

        <% @certifications.each do |certification| %>

            <tr>
              <td data-title="Certification Name"><%= certification.name %></td>
              <td data-title="Institution"><%= certification.institution %></td>
              <td data-title="Received"><%= certification.received.try(:strftime,"%m/%d/%Y") %></td>
              <td data-title="Expired"><%= certification.expired.try(:strftime,"%m/%d/%Y") %></td>
              <td data-title=""  class="table-last-td">

                <ul class="actions_container">
                  <li>
                    <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                edit_certification_path(certification) %>
                  </li>


                  <li>
                    <%= link_to '<span class="icon icon_2"></span>'.html_safe,
                                certification_path(certification),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                  </li>
                </ul>

              </td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>

    <h2>Papers/Journals
      <%= link_to "Add", new_journal_path, :class => 'orange-btn pull-right align-orange-btn' %>
    </h2>
    <div id="no-more-tables">
      <table class="col-sm-12 table-striped table-condensed cf">
        <thead class="cf">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Reference</th>
          <th width="100" class="table-last-th"></th>
        </tr>
        </thead>
        <tbody>


        <% @journals.each do |journal| %>

            <tr>
              <td data-title="Name"><%= journal.name %></td>
              <td data-title="Date"><%= journal.date.strftime("%m/%d/%Y") %></td>
              <td data-title="Reference"><%= journal.reference %></td>
              <td data-title="" class="table-last-td">

                <ul class="actions_container">
                  <li>
                    <%= link_to '<span class="icon icon_1"></span>'.html_safe,
                                edit_journal_path(journal) %>
                  </li>


                  <li>
                    <%= link_to '<span class="icon icon_2"></span>'.html_safe,
                                journal_path(journal),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                  </li>
                </ul>

              </td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>


  </div>


</div>

</div>





</div>
</div>
</div>
<!--End search-container-->
