<div class="inboard">
  <div class="margin">

    <div class="enclosure">
      <h3>Degrees</h3>
      <h6><%= link_to "Add", new_education_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Degree</th>
          <th>Field</th>
          <th>Institution</th>
          <th>Location</th>
          <th>Completion</th>
          <th class="last">Actions</th>
        </tr>
        <% @educations.each do |education| %>
        <tr>
          <td data-title="Degree"><span><%= education.degree %></span></td>
          <td data-title="Field"><span><%= education.field %></span></td>
          <td data-title="Institution"><span><%= education.institution %></span></td>
          <td data-title="Location"><span><%= education.location %></span></td>
          <td data-title="Completion"><span><%= education.completion %></span></td>
          <td class="last">
            <%= link_to edit_education_path(education), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to education_path(education), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 
    </div>

    <div class="enclosure">
      <h3>Certification</h3>
      <h6><%= link_to "Add", new_certification_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Certification Name</th>
          <th>Institution</th>
          <th>Received</th>
          <th>Expired</th>
          <th class="last">Actions</th>
        </tr>
        <% @certifications.each do |certification| %>
        <tr>
          <td data-title="Certification Name"><span><%= certification.name %></span></td>
          <td data-title="Institution"><span><%= certification.institution %></span></td>
          <td data-title="Received"><span><%= certification.received.try(:strftime,"%m/%d/%Y") %></span></td>
          <td data-title="Expired"><span><%= certification.expired.try(:strftime,"%m/%d/%Y") %></span></td>
          <td class="last">
            <%= link_to edit_certification_path(certification), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to certification_path(certification), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 
    </div>

    <div class="enclosure">
      <h3>Papers/Journals</h3>
      <h6><%= link_to "Add", new_journal_path %></h6>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Reference</th>
          <th class="last">Actions</th>
        </tr>
        <% @journals.each do |journal| %>
        <tr>
          <td data-title="Name"><span><%= journal.name %></span></td>
          <td data-title="Date"><span><%= journal.date.strftime("%m/%d/%Y") %></span></td>
          <td data-title="Reference"><span><%= journal.reference %></span></td>
          <td class="last">
            <%= link_to edit_journal_path(journal), class: "icon icon-edit", title: "Edit" do %><% end %>
            <%= link_to journal_path(journal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 
    </div>





  </div>
</div>

