<script>
    $(document).ready(function() {
        $("#plan_job_post").click(function(){
            if ( $('#plan_job_post').prop("checked") ){
                $('.job_post1').prop('disabled',true);
                $('.job_post1').val('');
            }else{
                $('.job_post1').prop('disabled',false);
            }
        });

        $("#plan_job_post").ready(function(){
            if($('#plan_job_post').prop("checked")){
                $('.job_post1').prop('disabled',true);
            }else{
                $('.job_post1').prop('disabled',false);
            }

        });



        $("#plan_user_account").click(function(){
            if ( $('#plan_user_account').prop("checked") ){
                $('.job_post3').prop('disabled',true);
                $('.job_post3').val('');
            }else{
                $('.job_post3').prop('disabled',false);
            }
        });

        $("#plan_user_account").ready(function(){
            if($('#plan_user_account').prop("checked")){
                $('.job_post3').prop('disabled',true);
            }else{
                $('.job_post3').prop('disabled',false);
            }

        });

        $("#edit_plan_1").submit(function(){
            if($('.job_post1').val()==''){
                $('.job_post1').val(-1);
            }
            if($('.job_post3').val()==''){
                $('.job_post3').val(-1);
            }
            if($('.job_post2').val()==''){
                $('.job_post2').val(-1);
            }

        });
    });
</script>


<%= form_for(@plan) do |f| %>

  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w50">

    <div class="form-group">
      <label>Name<em>*</em></label>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <label>Price</label>
      <%= f.text_field :price,:pattern=>"[0-9]*\.?[0-9]*",:title=>"Enter digits only" %>
      <small>(Price is in doller, we add $ sign for price)</small>
    </div>

    <div class="form-group">
      <label>Days</label>
      <%= f.text_field :days,:pattern=>"[0-9]*\.?[0-9]*",:title=>"Enter digits only" %>
    </div>

    <div class="form-group">
      <label>Plan Type<em>*</em></label>
      <%= f.select :plan_type, [["Employer", 'Employer'], ["Jobseeker", 'Jobseeker']], {}, {class: 'selectpicker'} %>
    </div>

    <div class="form-group">
      <label>Jobs post</label>
      <div class="icheckbox">  
        <%= f.check_box :job_post,{},-1 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :job_post, "(Unlimited)"%>
      <%= f.text_field :job_post,:pattern=>"^[0-9][0-9]*",:class=>"job_post1",:title=>"Enter positive digits only",:style=>"width:100%;"%>
    </div>


  </div>

  <div class="w50">

    <div class="form-group">
      <label>User Account</label>
      <div class="icheckbox">  
        <%= f.check_box :user_account,{},-1 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :job_post, "(Unlimited)"%>
      <%= f.text_field :user_account,:pattern=>"^[0-9][0-9]*",:class=>"job_post3",:min=>0,:title=>"Enter positive digits only",:style=>"width:100%;"%>
    </div>  

    <div class="form-group">
      <label>Analytics</label>
      <div class="iradio">  
        <%= f.radio_button :analytics,true %><%= f.label :analytics, "Yes" %>
        <%= f.radio_button :analytics,false %><%= f.label :analytics, "No" %>
      </div> 
    </div>

    <div class="form-group">
      <label>Email Support</label>
      <div class="iradio">  
        <%= f.radio_button :email_support,true %><%= f.label :email_support, "Yes" %>
        <%= f.radio_button :email_support,false %><%= f.label :email_support, "No" %>
      </div>   
    </div>

    <div class="form-group">
      <label>Phone Support</label>
      <div class="iradio">  
        <%= f.radio_button :phone_support,true %><%= f.label :phone_support, "Yes" %>
        <%= f.radio_button :phone_support,false %><%= f.label :phone_support, "No" %>
      </div>  
    </div>

    <div class="form-group">
      <label>API</label>
      <div class="iradio">  
        <%= f.radio_button :api,true %><%= f.label :api, "Yes" %>
        <%= f.radio_button :api,false %><%= f.label :api, "No" %>
      </div>    
    </div>

    <div class="form-group">
      <label>Profile Alert</label>
      <div class="iradio">  
        <%= f.radio_button :profile_alert,true %><%= f.label :profile_alert, "Yes" %>
        <%= f.radio_button :profile_alert,false %><%= f.label :profile_alert, "No" %>
      </div>   
    </div>

  </div>

  <div class="w100">

    <div class="actions">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),plans_path, :class => 'btn btn-ghost' %>
      <%= f.submit 'Submit', :class => 'btn btn-blue' %>
    </div>

  </div>

<%end%>
