<%= form_for :payment_module, :url=>'/payment_modules/update',:method=>'get',:html => {:class => "payment_module"} do |f| %>

  <div class="form-group">
    <label>Activate?</label>
    <div class="iradio">
      <%= f.radio_button :active, true %><label>Yes</label>
      <%= f.radio_button :active, false %><label>No</label>
    </div>
  </div>

  <div class="actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),a_home_path, :class => 'btn btn-ghost' %>
    <%= f.submit 'Save', :class => 'btn btn-blue' %>
  </div>

<%end%>