<div class="centered">
  <div class="form-field">

    <%= form_for @enquiry, :html => {:class => "form-horizontal enquiry"} do |f| %>
        <% if @enquiry.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this job from being saved:</h2>

              <ul>
                <% @enquiry.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>



        <div class="form-group">
          <label>Reason for enquiry<em>*</em></label>
          <%= f.collection_select :enquiry_category_id, EnquiryCategory.all, :id, :name, {}, {class: 'selectpicker'} %>
        </div>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, :placeholder => "Enter your name" %>
        </div>

        <div class="form-group">
          <label>Email<em>*</em></label>
          <%= f.text_field :email, :pattern => "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", :title => "Invalid format", :required => true, :placeholder => "Enter your email address" %>
        </div>


        <div class="form-group">
          <label>Description<em>*</em></label>
          <%= f.text_area :description,:class => 'text_area_alignment', :required => true ,:maxlength=>1000, :placeholder => "Maximum 1000 characters are allowed" %>
        </div>


        <%= f.submit 'Submit', class: "btn btn-blue" %>


    <% end %>

  </div>
</div>



   

