<div class="inboard">
  <div class="margin">

    <div class="enclosure">

      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="lodge">
        <tr>
          <th>Reason for Enquiry</th>
          <th>Name</th>
          <th>Email</th>
          <th>Description</th>
          <th>Recieved</th>
          <th>Status</th>
          <th class="last">Actions</th>
        </tr>
        <% @enquiries.try(:each) do |enquiry| %>
        <tr>
          <td data-title="Reason for Enquiry"><span><%= enquiry.try(:enquiry_category).try(:name) %></span></td>
          <td data-title="Name"><span><%= enquiry.try(:name) %></span></td>
          <td data-title="Email"><span><%= enquiry.try(:email) %></span></td>
          <td data-title="Description"><span><%= enquiry.try(:description) %></span></td>
          <td data-title="Recieved"><span><%= enquiry.created_at.strftime("%m/%d/%Y") %></span></td>
          <td data-title="Status">
            <span class= "enquiryresp">
              <%= enquiry.status%> <%if enquiry.respond_date.present? %> Date:<%=enquiry.try(:respond_date).strftime("%m/%d/%Y")%><%end%>
            </span>
          </td>
          <td class="last">

            <a class="active" onClick="setRespondData(<%=enquiry.id%>,'<%=enquiry.try(:enquiry_category).try(:name) %>','<%= enquiry.try(:name) %>')" data-toggle="modal" data-target="#myModal" >
            Respond
            </a>

            <%= link_to  enquiry_path(enquiry), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, class: "icon icon-trash", title: "Delete" do %><% end %>
          </td>
        </tr>
        <% end %>
      </table> 

    </div>


  </div>
</div>

<%= render :partial => "respond" %>


