<section class="inboard-menu blue admin">

    <!-- Nav -->
    <ul class="nav">
      <li id="nav-home" class="blue <%= 'active' if request.path == '/admin/index' ||  request.path == news_letters_path || request.path == admin_cms_pages_path || request.path == careers_path  %>"><a href="/home/index"><strong>Home</strong></a></li>
      <li class="blue <%= 'active' if request.path == app_users_path %>"><a href="<%= app_users_path %>"><strong>Users</strong></a></li>
      <li id="nav-jobs" class="blue <%= 'active' if request.path == jobs_path || request.path == jobs_archives_path || request.path == categories_path || request.path == industries_path || request.path == job_types_path || request.path == salary_types_path  %>"><a href="<%= jobs_path %>"><strong>Jobs</strong></a></li>
      <li id="nav-location" class="blue <%= 'active' if request.path == state_lists_path || request.path == country_lists_path  %>"><a href="<%= state_lists_path %>"><strong>Location</strong></a></li>
      <li id="nav-billing" class="blue <%= 'active' if request.path == subscriptions_path || request.path == plans_path || request.path == payment_modules_edit_path  %>"><a href="<%= subscriptions_path %>"><strong>Billing</strong></a></li>
      <li class="blue <%= 'active' if request.path == testimonials_path %>"><a href="<%= testimonials_path %>"><strong>Testimonials</strong></a></li>
      <li id="nav-faqs" class="blue <%= 'active' if request.path == faqs_path || request.path == faq_categories_path %>"><a href="<%= faqs_path %>"><strong>FAQs</strong></a></li>
      <li id="nav-enquiries" class="blue <%= 'active' if request.path == enquiries_path || request.path == enquiry_categories_path  %>"><a href="<%= enquiries_path %>"><strong>Enquiries</strong></a></li>
    </ul>

    <!-- Sub Navs  -->

    <ul class="sub-nav" id="sub-home">
      <li class="<%= 'active' if request.path == news_letters_path %>"><a rel="nofollow" data-method="get" href="<%= news_letters_path %>" class="detail">Newsletters</a></li>
      <li class="<%= 'active' if request.path == admin_cms_pages_path %>"><a rel="nofollow" data-method="get" href="<%= admin_cms_pages_path %>" class="detail">CMS</a></li>
      <li class="<%= 'active' if request.path == careers_path %>"><a rel="nofollow" data-method="get" href="<%= careers_path %>" class="detail">Post Career</a></li>
    </ul>

    <ul class="sub-nav" id="sub-jobs">
      <li class="<%= 'active' if request.path == jobs_path %>"><a rel="nofollow" data-method="get" href="<%= jobs_path %>" class="detail">Jobs</a></li>
      <li class="<%= 'active' if request.path == jobs_archives_path %>"><a rel="nofollow" data-method="get" href="<%= jobs_archives_path %>" class="detail">Archives</a></li>
      <li class="<%= 'active' if request.path == categories_path %>"><a rel="nofollow" data-method="get" href="<%= categories_path %>" class="detail">Job Category</a></li>
      <li class="<%= 'active' if request.path == industries_path %>"><a rel="nofollow" data-method="get" href="<%= industries_path %>" class="detail">Industry</a></li>
      <li class="<%= 'active' if request.path == job_types_path %>"><a rel="nofollow" data-method="get" href="<%= job_types_path %>" class="detail">Job Type</a></li>
      <li class="<%= 'active' if request.path == salary_types_path %>"><a rel="nofollow" data-method="get" href="<%= salary_types_path %>" class="detail">Salary Type</a></li>
    </ul>

    <ul class="sub-nav" id="sub-location">
      <li class="<%= 'active' if request.path == state_lists_path %>"><a rel="nofollow" data-method="get" href="<%= state_lists_path %>" class="detail">State</a></li>
      <li class="<%= 'active' if request.path == country_lists_path %>"><a rel="nofollow" data-method="get" href="<%= country_lists_path%>" class="detail">Country</a></li>
    </ul>

    <ul class="sub-nav" id="sub-billing">
      <li class="<%= 'active' if request.path == subscriptions_path %>"><a rel="nofollow" data-method="get" href="<%= subscriptions_path%>" class="detail">Subscribed</a></li>
      <li class="<%= 'active' if request.path == plans_path %>"><a rel="nofollow" data-method="get" href="<%= plans_path%>" class="detail">Plans</a></li>
      <li class="<%= 'active' if request.path == payment_modules_edit_path %>"><a rel="nofollow" data-method="get" href="<%= payment_modules_edit_path%>" class="detail">Payment Module</a></li>
    </ul>

    <ul class="sub-nav" id="sub-faqs">
      <li class="<%= 'active' if request.path == faqs_path %>"><a rel="nofollow" data-method="get" href="<%= faqs_path %>" class="detail">FAQ's</a></li>
      <li class="<%= 'active' if request.path == faq_categories_path %>"><a rel="nofollow" data-method="get" href="<%= faq_categories_path %>" class="detail">FAQ Categories</a></li>
    </ul>

    <ul class="sub-nav" id="sub-enquiries">
      <li class="<%= 'active' if request.path == enquiries_path %>"><a rel="nofollow" data-method="get" href="<%= enquiries_path %>" class="detail">Enquiries</a></li>
      <li class="<%= 'active' if request.path == enquiry_categories_path %>"><a rel="nofollow" data-method="get" href="<%= enquiry_categories_path %>" class="detail">Enquiry Categories</a></li>
    </ul>
   
</section>


<script type="text/javascript">

  if ($( '#nav-home' ).hasClass( 'active' )) {    
    $('#sub-home').addClass( 'active' );
  } else {
    $('#sub-home').removeClass( 'active' );
  }

  if ($( '#nav-jobs' ).hasClass( 'active' )) {    
    $('#sub-jobs').addClass( 'active' );
  } else {
    $('#sub-jobs').removeClass( 'active' );
  }

  if ($( '#nav-location' ).hasClass( 'active' )) {    
    $('#sub-location').addClass( 'active' );
  } else {
    $('#sub-location').removeClass( 'active' );
  }

  if ($( '#nav-billing' ).hasClass( 'active' )) {    
    $('#sub-billing').addClass( 'active' );
  } else {
    $('#sub-billing').removeClass( 'active' );
  }

  if ($( '#nav-faqs' ).hasClass( 'active' )) {    
    $('#sub-faqs').addClass( 'active' );
  } else {
    $('#sub-faqs').removeClass( 'active' );
  }

  if ($( '#nav-enquiries' ).hasClass( 'active' )) {    
    $('#sub-enquiries').addClass( 'active' );
  } else {
    $('#sub-enquiries').removeClass( 'active' );
  }

</script>