<footer>
  <div class="margin">

    <nav class="w25">
      <h4>Employers</h4>
      <%= link_to "Post a Job", new_job_path %>
      <%= link_to "Pricing", page_pricing_path %>
    </nav>

    <nav class="w25">
      <h4>Job Seekers</h4>
      <%= link_to "Post a Talent", jprofiles_path(:t=>'candidate')%>
      <%= link_to "Search Jobs", search_jobs_path %>
      <%= link_to "Pricing", page_pricing_path(anchor: "job-seekers") %>
    </nav>

    <nav class="w25">
      <h4>Information</h4>
      <%= link_to "About Us", page_about_path %>
      <%= link_to "FAQs", faqs_path %>
      <%= link_to "Contact Us", new_enquiry_path %>
      <%= link_to "Subscribe Newsletter",  new_news_letter_path %>
    </nav>

    <nav class="w25">
      <h4>Download</h4>
      <%= link_to "#", class: "icon icon-apple", target: "_blank" do %><% end %>
      <%= link_to "#", class: "icon icon-play", target: "_blank" do %><% end %>
      <h4 class="payment">Payment</h4>
      <em class="icon icon-paypal"></em>
      <em class="icon icon-visa"></em>
      <em class="icon icon-master"></em>
      <em class="icon icon-american"></em>
    </nav>

    <hr>

    <div class="copy">
      <small>Copyright © <%= "#{Time.now.year}" %> Sramic</small><%= link_to "Privacy Policy", page_privacy_path %><%= link_to "Terms and Conditions", page_terms_path %>
    </div>

    <ul class="social">
      <li><%= link_to "#", target: "_blank", title: "", class: "icon icon-linkedin" do %><% end %></li>
      <li><%= link_to "#", target: "_blank", title: "", class: "icon icon-twitter"  do %><% end %></li>
      <li><%= link_to "#", target: "_blank", title: "", class: "icon icon-google"  do %><% end %></li>
      <li><%= link_to "#", target: "_blank", title: "", class: "icon icon-facebook"  do %><% end %></li>
    </ul>


  </div>
</footer>
