<header>

  <div class="margin">
    <%= link_to image_tag("layout/sramic.png", title: "Home", alt: "Sramic", size: "166x42", class: "logo"), home_index_path %>
    <nav class="pull-right">
      <%= link_to new_user_registration_path, class: "btn-icon" do %><em class="icon icon-user"></em><span>Register</span><% end %>
      <%= link_to new_user_session_path, class: "btn-icon" do %><em class="icon icon-lock"></em><span>Login</span><% end %>
      <form action="<%= new_job_path %>"><input type="submit" value="Post a Job" class="btn btn-orange-ghost"></form>
      <form action="<%= jprofiles_path %>" method="get"><input type="submit" value="Post a Talent" class="btn btn-blue-ghost"/></form>
    </nav>
  </div>

  <%- flash.each do |name, msg| -%>
    <% if  msg != 'employer' &&  msg != 'candidate' && name == 'notice'%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
  <%- end -%>
  
</header>