<header>

  <div class="margin">
    <%= link_to image_tag("layout/sramic.png", title: "Home", alt: "Sramic", size: "166x42", class: "logo"), home_index_path %>

     <nav class="inline-block">

      <% if current_user.role.authority=='employer'%>
        <form action="<%= new_job_path %>"><input type="submit" value="Post a Job" class="btn btn-orange-ghost"></form>
        <form action="/search/profiles"><input type="submit" value="Search" class="btn btn-ghost"></form>
        <% elsif current_user.role.authority == 'jobseeker' %>
          <form action="/search/jobs"><input type="submit" value="Search" class="btn btn-ghost"></form>
        <% end %>

      <% if PaymentModule.first.active? %>
        <% if current_user.try(:subscription).try(:plan_id)==1 || current_user.try(:subscription).try(:plan_id)== 6%>
          <form action="<%= payments_path%>"><input type="submit" value="Upgrade Account" class="btn btn-ghost"></form>
        <% end %>
      <% end%> 

    </nav>

    <nav class="pull-right">

      <% if current_user.try(:role).try(:authority) != 'admin'%>
        <a rel="nofollow" data-method="get" href="<%= notifications_path %>" class="notification">
          <em class="icon icon-notification"></em>
          <strong><%= Notification.where(user_id: current_user.id).count%></strong>
          <span>Notifications</span>
        </a>
      <% end %>

      <div class="profile">
        <button class="dropdown-toggle" type="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <%if current_user.role.id==2%>
              <%= image_tag Eprofile.find(session['eprofile']).logo.url(:medium), title: "", alt: "", size: "64x64", class: "img-circle"  %>
            <% elsif current_user.role.id==3%>
              <%= image_tag Jprofile.find(session['jprofile']).logo.url(:medium), title: "", alt: "", size: "64x64", class: "img-circle"  %>
            <% elsif current_user.role.id==1%>
              <%= image_tag "layout/sramic-user.png", title: "", alt: "", size: "64x64", class: "img-circle"  %>   
            <%end%>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownProfile">
          <%if current_user.role.id==2%>
            <li><a rel="nofollow" data-method="get" href="<%= eprofiles_path %>"><span class="icon icon_1"></span>My Profile</a></li>
          <% elsif current_user.role.id==3%>
            <li><a rel="nofollow" data-method="get" href="<%= jprofiles_path %>"><span class="icon icon_1"></span>My Profile</a></li>
          <% end %>
          <%if session[:staff_user].nil?%>
            <li><a rel="nofollow" data-method="get" href="<%= edit_user_registration_path %>"><span class="icon icon_2"></span>Change Password</a></li>
          <% end %>
          <li><a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">Log out</a></li>
        </ul>
      </div>                        

    </nav>

  </div>

  <% if PaymentModule.first.active? %>
    <% if current_user.try(:role).try(:authority) != 'admin'%>
      <div class="pull-right" id="flash_notice"> Your current plan is "<%= current_user.try(:subscription).try(:plan).try(:name)%>" <% if current_user.try(:subscription).try(:plan_id) !=1 && current_user.try(:subscription).try(:plan_id) !=6 %> and will expire on "<%= current_user.try(:subscription).try(:end_date)%>" <%else %>, please upgrade<%end%> </div>
    <% end %>
  <% end %>

  <%- flash.each do |name, msg| -%>
    <% if  msg != 'employer' &&  msg != 'candidate' %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
  <%- end -%>

</header>