<header>

  <div class="margin">
    <%= link_to image_tag("layout/sramic.png", title: "Home", alt: "Sramic", size: "166x42", class: "logo"), home_index_path %>
    <em class="icon icon-menu"></em>
    <nav class="pull-right">
      <%= link_to new_user_registration_path, class: "btn-icon" do %><em class="icon icon-user"></em><span>Register</span><% end %>
      <%= link_to new_user_session_path, class: "btn-icon" do %><em class="icon icon-lock"></em><span>Login</span><% end %>
      <%= link_to "Post a Job", new_job_path, class: "btn btn-orange-ghost" %>
      <%= link_to "Post a Talent", jprofiles_path, class: "btn btn-blue-ghost" %>
    </nav>
  </div>
  
</header>



