<section class="inboard-menu blue">
  <div class="margin">

    <!-- Nav -->
    <ul class="nav">
      <li id="nav-account" class="blue <%= 'active' if request.path == activities_path || jprofiles_path.in?(request.path) || request.path == skills_path || request.path == job_histories_path || request.path == educations_path || request.path == portfolios_path  %>"><a href="<%= activities_path %>"><strong>My Account</strong></a></li>
      <li id="nav-jobs" class="blue <%= 'active' if request.path == job_applications_path || request.path == carts_path || request.path == watch_lists_path || request.path == job_alerts_path  %>"><a href="<%= job_applications_path %>"><strong>Jobs</strong></a></li>
      <li class="blue <%= 'active' if request.path == networks_path %>"><a href="<%= networks_path %>"><strong>Network</strong></a></li>
      <li id="nav-review" class="blue <%= 'active' if request.path == reviews_path || request.path == reviews_path(:by => 'me') %>"><a href="<%= reviews_path %>"><strong>Review</strong></a></li>
      <li class="blue <%= 'active' if request.path == message_list_jobseeker_path %>"><a href="<%= message_list_jobseeker_path %>"><strong>Messages</strong></a></li>
    </ul>

    <!-- Sub Navs  -->
    <ul class="sub-nav" id="sub-account">
      <li class="<%= 'active' if request.path == activities_path %>"><a rel="nofollow" data-method="get" href="<%= activities_path %>" class="detail">Summary</a></li>
      <li class="<%= 'active' if jprofiles_path.in? request.path %>"><a rel="nofollow" data-method="get" href="<%= jprofiles_path %>" class="detail">Profile</a></li>
      <li class="<%= 'active' if request.path == skills_path %>"><a rel="nofollow" data-method="get" href="<%= skills_path %>" class="detail">Skills</a></li>
      <li class="<%= 'active' if request.path == job_histories_path %>"><a rel="nofollow" data-method="get" href="<%= job_histories_path %>" class="detail">Job History</a></li>
      <li class="<%= 'active' if request.path == educations_path %>"><a rel="nofollow" data-method="get" href="<%= educations_path %>" class="detail">Education</a></li>
      <li class="<%= 'active' if request.path == portfolios_path %>"><a rel="nofollow" data-method="get" href="<%= portfolios_path %>" class="detail">Portfolio</a></li>
    </ul>

    <ul class="sub-nav" id="sub-jobs">
      <li class="<%= 'active' if request.path == carts_path %>"><a rel="nofollow" data-method="get" href="<%= carts_path %>" class="detail">My Cart</a></li>
      <li class="<%= 'active' if request.path == watch_lists_path %>"><a rel="nofollow" data-method="get" href="<%= watch_lists_path %>" class="detail">Watchlist Jobs</a></li>
      <li class="<%= 'active' if request.path == job_applications_path %>"><a rel="nofollow" data-method="get" href="<%= job_applications_path %>" class="detail">Applied Jobs</a></li>
      <li class="<%= 'active' if request.path == job_alerts_path %>"><a rel="nofollow" data-method="get" href="<%= job_alerts_path %>" class="detail">Job Alert</a></li>
    </ul>

    <ul class="sub-nav" id="sub-review">
      <li class="<%= 'active' if request.fullpath == reviews_path %>"><a rel="nofollow" data-method="get" href="<%= reviews_path %>" class="detail">To Me</a></li>
      <li class="<%= 'active' if request.fullpath == reviews_path(:by => 'me') %>"><a rel="nofollow" data-method="get" href="<%= reviews_path(:by => 'me') %>" class="detail">By Me</a></li>
    </ul>
   

  </div>
</section>



<script type="text/javascript">

  if ($( '#nav-account' ).hasClass( 'active' )) {    
    $('#sub-account').addClass( 'active' );
  } else {
    $('#sub-account').removeClass( 'active' );
  }

  if ($( '#nav-jobs' ).hasClass( 'active' )) {    
    $('#sub-jobs').addClass( 'active' );
  } else {
    $('#sub-jobs').removeClass( 'active' );
  }

   if ($( '#nav-review' ).hasClass( 'active' )) {    
    $('#sub-review').addClass( 'active' );
  } else {
    $('#sub-review').removeClass( 'active' );
  }
</script>
